<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <title>查看问题</title>
    <link rel="stylesheet" type="text/css" href="../../css/global.css">
    <link rel="stylesheet" type="text/css" href="../../css/mobile/answer/answer.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://lib.baomitu.com/font-awesome/5.11.2/css/all.min.css">
    <script type="text/javascript" src="https://lib.baomitu.com/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://lib.baomitu.com/vue/2.6.10/vue.min.js"></script>
</head>
<body>
<div id="answer">
    <div id="header">
        <table style="color: #acacac">
            <td style="width: 80%"><i class="fas fa-chevron-left"></i></td>
            <td style="width: 10%;text-align: right"><i class="fas fa-search"></i></td>
            <td style="width: 10%;text-align: right"><i class="fas fa-ellipsis-v" data-toggle="modal" data-target="#operateModal"></i></td>
        </table>
    </div>
    <br><br><br>
    <div id="questionInf">
        <h5>{{question.title}}</h5>
        <div id="questionContent" class="hidePart" v-html="question.content"></div>
        <br>
        <table>
            <td style="text-align: left;font-size: 0.7em;opacity: 0.5">
                <span>查看全部{{question.answerCount}}个回答</span>
                <i class="fas fa-chevron-right"></i>
            </td>
            <td>
                <div id="showAndHide">
                    <span @click="show" v-if="hidePart">展开全部 <i class="fas fa-angle-down"></i></span>
                    <span @click="hide" v-else>收起 <i class="fas fa-angle-up"></i></span>
                </div>
            </td>
        </table>
    </div>
    <div id="separator"></div>
    <div id="answererInf">
        <div v-if="answer.isAdopt===1" style="color: #12eee7;padding: 0.3em 0">
            <h5><i class="fas fa-check"></i>此回答已被采纳</h5>
        </div>
        <table>
            <td style="width: 10%">
                <div id="answererHead" class="headPortrait" v-html="answerer.head"></div>
            </td>
            <td style="width: 50%">
                <span>{{answerer.name}}</span>
            </td>
            <td style="width: 40%;text-align: right">
                <span class="lb">
                    <b style="color: #12eee7">LV</b>
                    <i>{{answerer.level}}</i>
                </span>
                &nbsp;
                <span class="lb">
                    <i class="fas fa-award fa-1x" style="color: #12eee7"></i>
                    <i>{{answerer.badgeNum}}</i>
                </span>
            </td>
        </table>
    </div>
    <div id="content" v-html="answer.content"></div>
    <div class="splitLine"></div>
    <div id="comments">
        <span>评论-{{answer.commentNum}}</span>
        <div class="comment" v-for="comment in comments">
            <br>
            <table>
                <td style="width: 10%">
                    <div class="headPortrait" v-html="comment.uHead"></div>
                </td>
                <td style="width: 50%;opacity: 0.5;padding: 0 0.5em">
                    <span>{{comment.uName}}</span>
                    <span v-if="comment.isQuestionOwner">(提问者)</span>
                    <span v-if="comment.isAnswerer">(回答者)</span>
                </td>
                <td style="width: 40%;text-align: right;opacity: 0.5">
                    <i class="fas fa-thumbs-up"></i>
                    <span>{{comment.approveNum}}</span>
                </td>
            </table>
            <div class="commentContent" v-html="comment.content"></div>
        </div>
        <button v-if="answer.commentNum>2" class="btn btn-link" style="padding-left: 2.6em" @click="allComment">查看全部{{answer.commentNum}}条评论</button>
        <br>
        <table>
            <td style="width: 10%">
                <div class="headPortrait" v-html="userHead"></div>
            </td>
            <td style="padding: 0 0.5em">
                <div style="border: #acacac solid 0.1em;opacity: 0.5;padding: 0.5em;border-radius: 1em" @click="allComment">span添加评论...</div>
            </td>
        </table>
    </div>
    <div id="footer">
        <table>
            <td style="text-align: left;width: 45%">
                <div style="border-radius: 2em;border: #acacac solid 0.05em;padding: 0.1em 0.5em;background-color: white">
                    <span><i class="fas fa-thumbs-up" style="color: #acacac"></i>&nbsp;赞同</span>
                    <span><i class="fas fa-thumbs-down" style="color:#acacac;"></i>&nbsp;反对</span>
                    |&nbsp;{{answer.approveNum}}
                </div>
            </td>
            <td style="width: 55%;text-align: right">
                <span><i class="fas fa-comment" style="color: #12eee7"></i>评论{{answer.commentNum}}</span>
            </td>
        </table>
    </div>
    <div style="z-index: 9999;" class="modal fade" id="operateModal" tabindex="-1"
         role="dialog" aria-labelledby="topModalLabel" aria-hidden="true">
        <div class="modal-dialog  modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">操作</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="operateMenu">
                        <br>
                        <table>
                            <td class="operateItem">
                                <div><i class="fas fa-user-plus fa-2x"></i></div>
                                <span>邀请回答</span>
                            </td>
                            <td class="operateItem">
                                <div><i class="fas fa-minus-circle fa-2x"></i></div>
                                <span>举报</span>
                            </td>
                            <td class="operateItem" v-if="viewerIsQuestionOwner == 1 && question.isSolved == 0 && answer.isAdopt == 0">
                                <div><i class="fas fa-check-square fa-2x" @click="adopt"></i></div>
                                <span>采纳回答</span>
                            </td>
                            <td class="operateItem" v-if="viewerIsQuestionOwner == 1 && question.isSolved == 1 && answer.isAdopt == 1">
                                <div><i class="fas fa-user-times fa-2x" @click="cancelAdopt"></i></div>
                                <span>取消采纳</span>
                            </td>
                            <td class="operateItem" v-if="viewerIsAnswerer == 1 && answer.isAnonymous == 1">
                                <div><i class="fas fa-user-check fa-2x" @click="cancelAnonymous"></i></div>
                                <span>取消匿名</span>
                            </td>
                        </table>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    let answer = new Vue({
        el:"#answer",
        data:{
            question: {
                id:0,
                title: "",
                content: "",
                answerCount:0
            },
            answerer:{
                id:0,
                head:"",
                name:"",
                level:0,
                badgeNum:0,
                isAdopt:0
            },
            answer:{
                content:"",
                approveNum:0,
                commentNum:0,
                isAdopt: 0
            },
            comments:[
            ],
            userHead:"",
            hidePart:true,
            viewerIsAnswerer:0,
            viewerIsQuestionOwner:0,
            answerId:0,
            questionId:0,
            load:false
        },
        methods:{
            show:function () {
                $("#questionContent").removeClass("hidePart");
                this.hidePart = false;
            },
            hide:function () {
                $("#questionContent").addClass("hidePart");
                this.hidePart = true;
            },
            clearImg:function (htmlText) {

            },
            showOperateMenu:function () {
                $("#operateMenu").slideToggle();
            },
            adopt:function () {
                $.ajax({
                    type:"POST",
                    url:"../../answer/adoptAnswer.action",
                    data:{
                        answerId:answer.answerId
                    },
                    dataType:"json",
                    success:function (result) {
                        if (result.resultCode === 0) {
                            alert("采纳成功");
                        }
                    },
                    error:function () {
                        alert("系统异常");
                    }
                });
            },
            cancelAdopt:function () {

            },
            allComment:function () {
                location.href = "../comment/comment.html?answerId=" + this.answerId;
            },
            cancelAnonymous:function () {
                if (confirm("确定取消匿名吗？")) {
                    $.ajax({
                        url:"../../answer/cancelAdopt.action",
                        type:"POST",
                        data:{
                            answerId:answer.answerId
                        },
                        dataType:"json",
                        success:function (result) {
                            if (result.resultCode === 0) {
                                history.go(0);
                            }
                        },
                        error:function (request,status,error) {
                            alert("系统异常！");
                            console.log(request.status);
                            console.log(request.readyState);
                            console.log(status);
                        }
                    });
                }
            },
            back:function () {
                history.go(-1);
            }
        },
        mounted:function () {
            let loc = location.href;
            loc = loc.replace("?","&").split("&");
            let questionId = loc[1];
            let answerId = loc[2];
            if (questionId.indexOf("questionId=")!==-1 && answerId.indexOf("answerId=")!==-1) {
                questionId = questionId.replace("questionId=","");
                answerId = answerId.replace("answerId=","");
                this.answerId = answerId;
                this.questionId = questionId;
            } else {
                //location.href = "../../error/mobile/404error.html"
            }
            console.log(questionId);
            console.log(answerId);
            $.ajax({
                url:"../../answer/viewAnswer.action",
                type:"POST",
                data:{
                    questionId:questionId,
                    answerId:answerId,
                },
                dataType:"json",
                success:function (result) {
                    console.log(result);
                    if (result.resultCode === 0) {
                        answer.question = result.question;
                        answer.answerer = result.answerer;
                        answer.answer = result.answer;
                        answer.comments = result.comments;
                        answer.userHead = result.userHead;
                        answer.viewerIsAnswerer = result.viewerIsAnswerer;
                        answer.viewerIsQuestionOwner = result.viewerIsQuestionOwner;
                    }
                },
                error:function (request,status,error) {
                    alert("系统异常！");
                    console.log(request.status);
                    console.log(request.readyState);
                    console.log(status);
                }
            });
        }
    });
</script>
</body>
</html>