<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户主页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../css/global.css">
    <link rel="stylesheet" type="text/css" href="../../css/mobile/user/userHome.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://lib.baomitu.com/font-awesome/5.11.2/css/all.min.css">
    <script type="text/javascript" src="https://lib.baomitu.com/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://lib.baomitu.com/vue/2.6.10/vue.min.js"></script>
    <link rel="stylesheet" href="https://lib.baomitu.com/mint-ui/2.2.13/style.min.css">
    <script type="text/javascript" src="https://lib.baomitu.com/mint-ui/2.2.13/index.js"></script>
</head>
<body>
<div id="userHome">
    <div id="header">
        <table>
            <td style="width: 15%">
                <i class="fas fa-chevron-left" style="color: white;font-size: 1.5em" @click="back"></i>
            </td>
            <td style="width: 70%;text-align: center">
                <span v-if="loading">
                    加载中&nbsp;<i class="fas fa-redo-alt fa-spin"></i>
                </span>
            </td>
            <td style="width: 15%"></td>
        </table>
    </div>
    <div id="container" v-if="!loading">
        <table>
            <td style="width: 30%">
                <div class="head" v-html="userInfo.head"></div>
            </td>
            <td style="vertical-align: top">
                <span class="name">
                    <span class="level">LV&nbsp;{{userInfo.level}}</span>
                    {{userInfo.name}}&nbsp;
                </span>
                <i class="fas fa-transgender" v-if="userInfo.gender==='保密'" style="color: #c700ee"></i>
                <i class="fas fa-mars" v-if="userInfo.gender==='男'" style="color: #0081ee"></i>
                <i class="fas fa-mercury" v-if="userInfo.gender==='女'" style="color: #ee0098"></i>
                <div class="introduction">
                    {{userInfo.introduction}}
                </div>
                <div v-if="userInfo.identity.type!==0" style="margin-top: 0.2em">
                    <i class="fas fa-shield-alt" style="color: #2f4bff" v-if="userInfo.identity.type===1"></i>
                    <i class="fas fa-shield-alt" style="color: #ffb100" v-if="userInfo.identity.type===2"></i>
                    &nbsp;{{userInfo.identity.realName}}
                </div>
            </td>
        </table>
        <div class="splitLine"></div>
        <div>
            <div class="priceInfo">
                <i class="fas fa-medal" style="color: #00eaee"></i>
                TA的徽章数{{userInfo.badgeNum}}
            </div>
            <div class="priceInfo">
                <i class="fas fa-thumbs-up" style="color: #00eaee"></i>
                TA获得的赞同{{userInfo.gainApproveNum}}
            </div>
        </div>
        <br>
        <div>
            <span class="dynamicSelector" :class="{selected:selectedIndex===1}" @click="selectedIndex=1">提问动态</span>
            <span class="dynamicSelector" :class="{selected:selectedIndex===2}" @click="selectedIndex=2">回答动态</span>
        </div>
        <div class="splitLine"></div>
        <div v-if="selectedIndex===1">
            <div class="dynamicItem" v-for="item in userInfo.questionDynamic" @click="toQuestionPage(item.id)">
                <h6><b>{{item.title}}</b></h6>
                <div class="info">
                    {{item.browsingNum}}浏览-{{item.answerNum}}回答-{{item.collectionNum}}收藏
                </div>
            </div>
        </div>
        <div v-else="">
            <div class="dynamicItem" v-for="item in userInfo.answerDynamic" @click="toAnswerPage(item.questionId,item.id)">
                <h6><b>{{item.questionTitle}}</b></h6>
                <div class="answerView">{{item.content}}</div>
                <div class="info">
                    <table>
                        <td style="width: 70%">
                            {{item.commentNum}}评论-{{item.answerNum}}赞同
                        </td>
                        <td style="width: 30%;text-align: right">
                            {{item.time}}
                        </td>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    let userHome = new Vue({
        el:"#userHome",
        data:{
            selectedIndex:1,
            userInfo:{},
            userId:0,
            loading:true
        },
        methods:{
            back:function () {
                history.go(-1);
            },
            toQuestionPage:function (qid) {
                location.href = "../question/question.html?questionId=" + qid;
            },
            toAnswerPage:function (qid,aid) {
                location.href = "../answer/answer.html?questionId=" + qid + "&answerId=" + aid;
            }
        },
        mounted:function () {
            let loc = location.href;
            let uid = loc.replace("?","&").split("&")[1];
            let userId;
            if (uid.indexOf("userId=")!==-1) {
                userId = uid.replace("userId=","");
                this.userId = userId;
            } else {
                location.href = "../../error/mobile/404error.html"
            }
            $.ajax({
                type:"POST",
                url:"../../user/userHome.action",
                data:{
                    userId:userId
                },
                dataType:"json",
                success:function (result) {
                    if (result.resultCode === 0) {
                        userHome.userInfo = result.userInfo;
                        userHome.loading = false;
                    }
                },
                error:function (request,status,error) {
                    alert("系统异常！");
                    console.log(request.status);
                    console.log(request.readyState);
                    console.log(status);
                }
            });
        }
    });
</script>
</body>
</html>