.modify{
    width: 25%;
    height: 45%;
    margin-left: 35%;
    background-color: white;
}
p{
    color: lightgrey;
}
.titleDiv{
    margin-left: 15%;
    height: 10%;
}
.title{
}
.tip{
    margin-left: 15%;
    height: 10%;
}
.space{
    height: 5%;
    width: 25%;
    margin-left: 35%;
    margin-top: 7%;
    background-color: white;
}
.input{
    margin-left: 15%;
    width: 70%;
    height: 10%;
}
.emailInput{
    margin-top: 5%;
}
#next{
    height: 100%;
    width: 100%;
    background-color: dodgerblue;
    border-style: none;
    border-radius: 10px;
    color: white;
}
.next{
    height: 10%;
    margin-top: 8%;
    margin-left: 15%;
    width: 60%;
    background-color: dodgerblue;
    border-style: none;
    border-radius: 10px;
}