<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <title>浏览记录</title>
    <link rel="stylesheet" type="text/css" href="../../css/global.css">
    <link rel="stylesheet" type="text/css" href="../../css/mobile/record/general.css">
    <link rel="stylesheet" type="text/css" href="../../css/mobile/record/browsingRecord.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://lib.baomitu.com/font-awesome/5.11.2/css/all.min.css">
    <script type="text/javascript" src="https://lib.baomitu.com/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://lib.baomitu.com/vue/2.6.10/vue.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://lib.baomitu.com/element-ui/2.12.0/theme-chalk/index.css">
    <script type="text/javascript" src="https://lib.baomitu.com/element-ui/2.12.0/index.js"></script>
    <link rel="stylesheet" href="https://lib.baomitu.com/mint-ui/2.2.13/style.min.css">
    <script type="text/javascript" src="https://lib.baomitu.com/mint-ui/2.2.13/index.js"></script>
</head>
<body>
<div id="browsingRecord" v-cloak>
    <div class="header">
        <table>
            <td style="width: 33%;color: #acacac;font-size: 1.5em">
                <i class="fas fa-times" @click="back"></i>
            </td>
            <td style="width: 34%;text-align: center">
                <span v-if="!loading">浏览记录</span>
                <span v-else="">加载中&nbsp;<i class="fas fa-redo-alt fa-spin" style="color: #acacac"></i></span>
            </td>
            <td style="width: 33%;"></td>
        </table>
    </div>
    <br><br>
    <div class="records">
        <div class="record" v-for="(record,index) in records">
            <h6 @click="turnQuePage(record.questionId)">
                <i class="fas fa-question" style="color: #4b62ff"></i>&nbsp;
                <b>{{record.questionTitle}}</b>
            </h6>
            <div class="splitLine"></div>
            <div class="" v-for="answer in record.answerRecords">
                <div class="contentView" @click="turnAnsPage(record.questionId,answer.answerId)">
                    <b>{{answer.answererName}}：</b>{{answer.answerContent}}
                </div>
                <div class="splitLine"></div>
            </div>
        </div>
        <br>
        <div class="loadOpera">
            <span v-if="hasMore && !loadingMore" class="btn-link" @click="load" style="cursor: pointer">加载更多</span>
            <span v-if="loadingMore" style="opacity: 0.5">
                <i class="fas fa-redo-alt fa-spin" style="color: #acacac"></i>&nbsp;加载中...
            </span>
            <span v-if="!hasMore && !loadingMore" style="opacity: 0.5">没有更多内容</span>
        </div>
    </div>
    <br><br><br>
</div>
<script>
    let browsingRecord = new Vue({
        el:"#browsingRecord",
        data:{
            loading:false,
            loadingMore:false,
            hasMore:0,
            records:[],
            start:0,
            noAction:false
        },
        methods:{
            back:function () {
                location.href = "../my.html";
            },
            load:function () {
                let start = this.start;
                this.loadingMore = true;
                $.ajax({
                    type:"POST",
                    url:"../../record/browsingRecord.action",
                    data:{
                        start:start
                    },
                    dataType:"json",
                    success:function (result) {
                        if (result.resultCode === 0) {
                            result.records.forEach(function (item) {
                                browsingRecord.records.push(item);
                            });
                            browsingRecord.hasMore = true;
                            browsingRecord.start += 20;
                            browsingRecord.loadingMore = false;
                            browsingRecord.loading = false;
                        } else if (result.resultCode === 2) {
                            result.records.forEach(function (item) {
                                browsingRecord.records.push(item);
                            });
                            browsingRecord.hasMore = false;
                            let size = result.records.length;
                            browsingRecord.start += size;
                            browsingRecord.loadingMore = false;
                            browsingRecord.loading = false;
                        } else {
                            browsingRecord.loadingMore = false;
                            browsingRecord.$messagebox.alert("请先登录").then(action => {
                                location.href = "../user/login.html?boot=0";
                            });
                        }
                    },
                    error: function (request, status, error) {
                        alert("系统异常！");
                        console.log(request.status);
                        console.log(request.readyState);
                        console.log(status);
                    }
                });
            },
            turnQuePage:function (id) {
                location.href = "../question/question.html?questionId=" + id;
            },
            turnAnsPage:function (qid,aid) {
                location.href = "../answer/answer.html?questionId=" + qid + "&answerId=" + aid;
            }
        },
        mounted:function () {
            if (sessionStorage.getItem("notice") != null) {
                this.$toast(sessionStorage.getItem("notice"));
                sessionStorage.removeItem("notice");
            }
            this.loading = true;
            this.load();
        }
    })
</script>
</body>
</html>