.contentView{
    overflow: hidden;;
    text-overflow: ellipsis;
    display:-webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.splitBox{
    height: 0.3em;
    opacity: 0.3;
    background-color: #acacac;
}