<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/global.css">
    <link rel="stylesheet" type="text/css" href="../css/mobile/index.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://lib.baomitu.com/font-awesome/5.11.2/css/all.min.css">
    <script type="text/javascript" src="https://lib.baomitu.com/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://lib.baomitu.com/vue/2.6.10/vue.min.js"></script>
    <link rel="stylesheet" href="https://lib.baomitu.com/mint-ui/2.2.13/style.min.css">
    <script type="text/javascript" src="https://lib.baomitu.com/mint-ui/2.2.13/index.js"></script>
</head>
<body>
<div id="index">
    <div id="homePage">
        <div id="homeHeader">
            <table>
                <td style="width: 85%">
                    <div id="searchBox" @click="toSearch">
                        <i class="fas fa-search" style="color: #acacac"></i>
                        <span id="recSearch">@IKnow发布啦</span>
                    </div>
                </td>
                <td style="width: 3%"></td>
                <td style="width: 12%;text-align: center">
                    <div class="headPortrait" v-html="user.head" @click="toMyPage"></div>
                </td>
            </table>
            <br>
            <table>
                <td class="select selected">
                    <h6>推荐</h6>
                </td>
                <td class="select" @click="toPartition">
                    <h6>分区</h6>
                </td>
            </table>
        </div>
        <br><br><br><br><br>
        <div id="recommendPage" v-if="recommendPage">
            <div class="item" v-for="recommend in recommends">
                <div class="splitBox"></div>
                <div class="itemBody">
                    <h6 class="questionTitle" @click="toQuestionPage(recommend.questionId)"><b>{{recommend.questionTitle}}</b></h6>
                    <div class="userInf">
                        <table>
                            <tr>
                                <td style="width: 10%">
                                    <div class="headPortrait" v-html="recommend.answererHead"></div>
                                </td>
                                <td style="width: 60%">
                                    <span class="username">{{recommend.answererName}}</span>
                                    <span class="identity"></span>
                                </td>
                                <td style="width: 30%;text-align: right">
                                <span class="lb">
                                    <b style="color: #12eee7">&nbsp;&nbsp;LV</b>
                                    <i>{{recommend.answererLevel}}</i>
                                </span>
                                    <span class="lb">
                                    <i class="fas fa-award" style="color: #12eee7"></i>
                                    <i>{{recommend.answererBadge}}</i>
                                </span>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div v-if="recommend.isAdopt">
                        <i class="fas fa-award" style="color: #ff0000"></i>
                        <span style="color: #2f4bff">&nbsp;此回答已被采纳</span>
                    </div>
                    <div class="answerInf">
                        <p class="answerView" v-html="recommend.content"
                           @click="toAnswerPage(recommend.questionId,recommend.answerId)"></p>
                        <table>
                            <tr>
                                <td style="width: 80%;opacity: 0.5">
                                    {{recommend.approveNum}}赞同-{{recommend.commentNum}}评论
                                </td>
                                <td style="width: 20%;text-align: right;">
                                    <i class="fas fa-ellipsis-h" style="opacity: 0.5" @click="actionSheet(recommend.answerId)"></i>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <br>
            <div style="text-align: center;font-size: 0.7em">
                <span v-if="loading === 0">加载中&nbsp;<i class="fas fa-redo-alt fa-spin" style="color: #acacac"></i></span>
                <span style="opacity: 0.5" v-if="loading === 1">没有更多内容</span>
                <span @click="loadMore(start)" class="btn-link" v-if="loading === 2">加载更多</span>
            </div>
            <br><br><br>
        </div>
        <div id="zonePage" v-else="">
            <div class="splitBox"></div>
        </div>
    </div>
    <div id="footer">
        <table>
            <td style="width: 33%;text-align: center">
                <i class="fas fa-home selected" @click="toRecommend"></i>
                <div>首页</div>
            </td>
            <td style="width: 34%;text-align: center">
                <i class="fas fa-plus" style="color: #12eee7" @click="add"></i>
                <div>添加</div>
            </td>
            <td style="width: 33%;text-align: center">
                <i class="fas fa-user" @click="toMyPage"></i>
                <div>我的</div>
            </td>
        </table>
    </div>
    <mt-actionsheet :actions="actions" v-model="showSheet"></mt-actionsheet>
</div>
<script type="text/javascript">
    $(function () {
        $('[data-toggle="popover"]').popover({
            trigger: 'focus'
        })
    });
    let homePage = new Vue({
        el:"#index",
        data:{
            recommends:[],
            user:{},
            recommendPage:true,
            loading:0,
            start:0,
            actions:[
                {
                    name:"举报",
                    method:function () {
                        if (parseInt(homePage.user.id) === 0) {
                            homePage.$messagebox.confirm("请先登录！").then(action => {
                                location.href = "user/login.html?boot=0";
                            }).catch(action => {});
                        } else {
                            let reportInfo = {
                                targetId: homePage.selectAid,
                                type: 2
                            };
                            sessionStorage.setItem("reportInfo", JSON.stringify(reportInfo));
                            location.href = "report/report.html";
                        }
                    }
                }
            ],
            selectAid:0,
            showSheet:false
        },
        methods:{
            add:function () {
                if (this.loading === 0) {
                    return;
                }
                if (this.user.id === 0) {
                    location.href = "user/login.html?boot=0";
                } else {
                    location.href = "add.html";
                }
            },
            toRecommend:function () {
                sessionStorage.clear();
                location.reload();
            },
            toQuestionPage:function (questionId) {
                location.href = "question/question.html?questionId=" +questionId;
            },
            toAnswerPage:function (questionId,answerId) {
                location.href = "answer/answer.html?questionId=" + questionId
                + "&answerId=" +answerId;
            },
            loadMore:function (start) {
                homePage.loading = 0;
                $.ajax({
                    url:"../answer/moreRecommend.action",
                    type:"POST",
                    data:{
                        start:start
                    },
                    dataType:"json",
                    success:function (result) {
                        if (result.resultCode === 0) {
                            let size = result.recommends.length;
                            result.recommends.forEach(function (item) {
                                homePage.recommends.push(item);
                            });
                            if (size < 20) {
                                homePage.loading = 1;
                            } else {
                                homePage.start += size;
                                homePage.loading = 2;
                            }
                            homePage.saveToSession();
                        } else if (result.resultCode === 1) {
                            homePage.loading = 1;
                            sessionStorage.setItem("loading",homePage.loading);
                        }
                    },
                    error:function (request,status,error) {
                        alert("系统异常！");
                        console.log(request.status);
                        console.log(request.readyState);
                        console.log(status);
                        homePage.loading = 2;
                    }
                });
            },
            saveToSession:function () {
                sessionStorage.setItem("recommends",JSON.stringify(homePage.recommends));
                sessionStorage.setItem("user",JSON.stringify(homePage.user));
                sessionStorage.setItem("loading",homePage.loading);
                sessionStorage.setItem("start",homePage.start);
            },
            toMyPage:function () {
                if (this.loading === 0) {
                    return;
                }
                if (this.user.id === 0) {
                    location.href = "user/login.html?boot=1";
                } else {
                    location.href = "my.html";
                }
            },
            toSearch:function () {
                location.href = "search/search.html";
            },
            toPartition:function () {
                location.href = "partition.html";
            },
            actionSheet:function(id) {
                this.selectAid = id;
                this.showSheet = true;
            }
        },
        mounted:function () {
            if (sessionStorage.getItem("recommends") != null) {
                this.recommends = JSON.parse(sessionStorage.getItem("recommends"));
                this.user = JSON.parse(sessionStorage.getItem("user"));
                this.loading = parseInt(sessionStorage.getItem("loading"));
                this.start = parseInt(sessionStorage.getItem("start"));
            } else {
                $.ajax({
                    url: "../answer/recommendAnswer.action",
                    type: "POST",
                    data: {},
                    dataType: "json",
                    success: function (result) {
                        if (result.resultCode === 0) {
                            homePage.recommends = result.recommends;
                            homePage.user = result.user;
                            homePage.loading = 2;
                            homePage.start = result.recommends.length;
                            homePage.saveToSession();
                        }
                    },
                    error: function (request, status, error) {
                        alert("系统异常！");
                        console.log(request.status);
                        console.log(request.readyState);
                        console.log(status);
                    }
                });
            }
        }
    });
</script>
</body>
</html>