<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>分区</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/global.css">
    <link rel="stylesheet" href="../css/mobile/index.css">
    <link rel="stylesheet" type="text/css" href="../css/mobile/partition.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://lib.baomitu.com/font-awesome/5.11.2/css/all.min.css">
    <script type="text/javascript" src="https://lib.baomitu.com/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://lib.baomitu.com/vue/2.6.10/vue.min.js"></script>
</head>
<body>
<div id="chosePart">
    <div id="homeHeader">
        <table>
            <td style="width: 85%">
                <div id="searchBox" @click="toSearch">
                    <i class="fas fa-search" style="color: #acacac"></i>
                    <span id="recSearch">@IKnow发布啦</span>
                </div>
            </td>
            <td style="width: 3%"></td>
            <td style="width: 12%;text-align: center">
                <div class="headPortrait" v-html="user.head" @click="toMyPage"></div>
            </td>
        </table>
        <br>
        <table>
            <td class="select" @click="">
                <h6>推荐</h6>
            </td>
            <td class="select selected" @click="">
                <h6>分区</h6>
            </td>
        </table>
    </div>
    <br><br><br><br><br>
    <div class="splitBox"></div>
    <div style="text-align: center;margin: 0.5em 0">
        <table>
            <td style="width: 10%">
                <i class="fas fa-chevron-left" style="color: #acacac" @click="lastStep"></i>
            </td>
            <td style="width: 80%;text-align: center">
                {{text}}
            </td>
            <td></td>
        </table>
    </div>
    <div id="category" v-if="stepNum === 1">
        <div class="selectItem" v-for="item in categories">
            <table>
                <td style="width: 10%">
                    <i class="fas fa-synagogue" style="color: #52f252"></i>
                </td>
                <td style="width: 80%">
                    {{item.name}}
                </td>
                <td style="width: 10%;text-align: right;opacity: 0.5">
                    <i class="fas fa-angle-right"></i>
                </td>
            </table>
        </div>
    </div>
    <div id="subject" v-if="stepNum === 2">
        <div class="selectItem" v-for="item in subjects">
            <table>
                <td style="width: 10%">
                    <i class="fas fa-university" style="color: #f29d35"></i>
                </td>
                <td style="width: 80%">
                    {{item.name}}
                </td>
                <td style="width: 10%;text-align: right;opacity: 0.5">
                    <i class="fas fa-angle-right"></i>
                </td>
            </table>
        </div>
    </div>
    <div id="major" v-if="stepNum === 3">
        <div class="selectItem" v-for="item in majors">
            <table>
                <td style="width: 10%">
                    <i class="fas fa-graduation-cap" style="color: #2b2b2b"></i>
                </td>
                <td style="width: 80%">
                    {{item.name}}
                </td>
                <td style="width: 10%;text-align: right;opacity: 0.5">
                    <i class="fas fa-angle-right"></i>
                </td>
            </table>
        </div>
    </div>
    <div id="questions" v-if="stepNum === 4">
        <div class="selectItem" v-for="item in questions">
            <h5><b>{{item.title}}</b></h5>
            <table>
                <td style="width: 70%;opacity: 0.5">
                    {{item.answerNum}}回答-{{item.browsingNum}}浏览-{{item.collectionNum}}收藏
                </td>
                <td style="text-align: right;width: 30%">
                    <span class="btn-link"><i class="fas fa-edit"></i>写回答</span>
                </td>
            </table>
        </div>
    </div>
    <div id="footer">
        <table>
            <td style="width: 33%;text-align: center">
                <i class="fas fa-home selected" @click="toRecommend"></i>
                <div>首页</div>
            </td>
            <td style="width: 34%;text-align: center">
                <i class="fas fa-plus" style="color: #12eee7" @click="add"></i>
                <div>添加</div>
            </td>
            <td style="width: 33%;text-align: center">
                <i class="fas fa-user" @click="toMyPage"></i>
                <div>我的</div>
            </td>
        </table>
    </div>
</div>
<script>
    let chosePart = new Vue({
        el:"#chosePart",
        data:{
            user:{
                head:"<img src='../head/14.jpg' width='100%' height='100%' style='border-radius: 100%' alt=''>",
                id:14
            },
            text:"请选择门类分类",
            categoryId:0,
            categories:[
                {
                    name:"哲学",
                },{
                    name:"文学"
                }
            ],
            subjectId:0,
            subjects:[
                {
                    name:"计算机类"
                },{
                    name:"美术类"
                }
            ],
            majorId:0,
            majors:[
                {
                    name:"软件工程"
                }, {
                   name:"计算机"
                }
            ],
            start:0,
            stepNum:4,
            questions:[
                {
                    id:0,
                    title:"问题测试?",
                    isSolved:0,
                    browsingNum:0,
                    answerNum:0,
                    collectionNum:0
                },
                {
                    id:0,
                    title:"问题测试1?",
                    isSolved:0,
                    browsingNum:0,
                    answerNum:0,
                    collectionNum:0
                }
            ]
        },
        methods:{
            toSearch:function () {
                location.href = "search/search.html";
            },
            toMyPage:function () {
                if (this.loading === 0) {
                    return;
                }
                if (this.user.id === 0) {
                    location.href = "user/login.html?boot=1";
                } else {
                    location.href = "my.html";
                }
            },
            toRecommend:function () {
                sessionStorage.clear();
                location.href = "home.html"
            },
            add:function () {
                if (this.loading === 0) {
                    return;
                }
                if (this.user.id === 0) {
                    location.href = "user/login.html?boot=0";
                } else {
                    location.href = "add.html";
                }
            },
            getCategories:function () {
                $.ajax({
                    url:"",
                    type:"POST",
                    data:{},
                    dataType:"json",
                    success:function (result) {

                    },
                    error:function (request,status,error) {
                        alert("系统异常！");
                        console.log(request.status);
                        console.log(request.readyState);
                        console.log(status);
                        homePage.loading = 2;
                    }
                });
            },
            getSubjects:function () {
                $.ajax({
                    url:"",
                    type:"POST",
                    data:{},
                    dataType:"json",
                    success:function (result) {

                    },
                    error:function (request,status,error) {
                        alert("系统异常！");
                        console.log(request.status);
                        console.log(request.readyState);
                        console.log(status);
                        homePage.loading = 2;
                    }
                });
            },
            getMajors:function () {
                $.ajax({
                    url:"",
                    type:"POST",
                    data:{},
                    dataType:"json",
                    success:function (result) {

                    },
                    error:function (request,status,error) {
                        alert("系统异常！");
                        console.log(request.status);
                        console.log(request.readyState);
                        console.log(status);
                        homePage.loading = 2;
                    }
                });
            },
            lastStep:function () {
                if (this.stepNum > 1) {
                    this.stepNum--;
                } else {
                    history.go(-1);
                }
            }
        },
        mounted:function () {
            if(sessionStorage.getItem("user") != null) {
                this.user = sessionStorage.getItem("user");
            }
        }
    });
</script>
</body>
</html>