<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <title>管理员登录</title>
    <link rel="stylesheet" type="text/css" href="../css/global.css">
    <link rel="stylesheet" type="text/css" href="../css/administrators/login.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://lib.baomitu.com/font-awesome/5.11.2/css/all.min.css">
    <script type="text/javascript" src="https://lib.baomitu.com/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://lib.baomitu.com/vue/2.6.10/vue.min.js"></script>
    <script type="text/javascript" src="../js/computer.js"></script>
</head>
<body style="background-color: aliceblue">
<nav class="navbar navbar-expand-lg navbar-light fix" style="background-color: aliceblue">
    <a class="navbar-brand" href="#" style="margin-left: 250PX"><img src="../img/LOGO透明%20(1).png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active" style="margin-left: 10px">
                <a class="nav-link" href="#">首页 <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <div class="dropdown">
                    <ul class="dropdown-menu" aria-labelledby="dLabel">
                        <li><a class="set" href="#">个人中心</a></li>
                        <li><a class="set" href="#">切换账户</a></li>
                        <li><a class="set" href="#">退出登录</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>

</nav>

<hr/>
<div id="logoContext">
    <img id="logoIn" src="../img/LOGO1.png">
</div>
<div id="login">
    <div id="alert" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{alertMsg.head}}</strong>{{alertMsg.body}}
        <button type="button" class="close"  aria-label="Close" @click="closeAlert">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div>
        <div id="account1">
            <input id="accountNum" type="number" placeholder="请输入您的账号" value="">
        </div>
        <div id="emailUnderline1"></div>
        <div class="errorMessage" v-if="accountNumError" style="margin-left: 40px">{{accountNumErrorMsg}}</div>
        <div id="keyDiv"><input type="password" placeholder="请输入您的密码" id="password" maxlength="20"></div>
        <div id="codeUnderline1"></div>
        <div class="errorMessage" v-if="passwordError" style="margin-left: 40px">{{passwordErrorMsg}}</div>
        <div style="margin-left: 40px;margin-top: 5%">
            <i class="fas fa-circle" @click="isRmb=!isRmb" v-if="!isRmb" style="color: #d6d6d6"></i>
            <i class="fas fa-check-circle" @click="isRmb=!isRmb" v-else style="color: cornflowerblue"></i>
            <span style="font-size: 1em">记住我</span>
        </div>
        <div id="loginButDiv1">
            <input type="submit" value="登录" id="loginBut1" @click="validator()">
        </div>
    </div>
</div>
<script type="text/javascript">
    let login=new Vue({
        el:"#login",
        data:{
            isRmb:false,
            accountNumError:false,
            accountNumErrorMsg:"",
            passwordError:false,
            passwordErrorMsg:"",
            alertMsg:{head:"",body:""},
        },
        methods:{
            loginByPassword:function (accountNum,password) {
                $.ajax({
                    url:"../admin/login.action",
                    type:"POST",
                    data:{
                        accountNum:accountNum,
                        password:password,
                    },
                    dataType:"json",
                    success:function (result) {
                        if (result.resultCode === 0) {
                            login.alertMsg.head = "登录成功";
                            login.alertMsg.body = "登录成功";
                            $("#alert").slideDown();
                            location.href = "reportAdmin.html?type=" +0;
                        } else if (result.resultCode === 1) {
                            login.alertMsg.head = "登录失败";
                            login.alertMsg.body = "账号或密码错误";
                            $("#alert").slideDown();
                        }
                    },
                    error:function (e) {
                        alert("服务器异常");
                    }
                });
            },
            validator:function () {
                let accountNum = $("#accountNum").val();
                let password = $("#password").val();
                    if (password.length === 0) {
                        this.passwordError = true;
                        this.passwordErrorMsg = "密码为空"
                    } else {
                        this.passwordError = false;
                    }
                    if (!this.accountNumError && !this.passwordError) {
                        this.loginByPassword(accountNum,password);
                    }
            },
            back:function () {
                history.go(-1);
            },
            closeAlert:function () {
                $("#alert").slideUp();
            }
        },
    });
</script>

</body>
</html>
