<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" type="text/css" href="../css/global.css">
    <link rel="stylesheet" type="text/css" href="../css/computer/index.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://lib.baomitu.com/font-awesome/5.11.2/css/all.min.css">
    <script type="text/javascript" src="https://lib.baomitu.com/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://lib.baomitu.com/vue/2.6.10/vue.min.js"></script>
</head>
<body style="background-color: aliceblue">
<div id="index">
    <div id="homePage">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#" style="margin-left: 13%"><img src="../img/LOGO透明%20(1).png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active" style="margin-left: 10px">
                        <a class="nav-link" href="#">首页 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">问答</a>
                    </li>

                    <!--            <li class="nav-item">-->
                    <!--                <a class="nav-link" href="#">登录</a>-->
                    <!--            </li>-->
                    <!--            <li class="nav-item">-->
                    <!--                <a class="nav-link" href="#">注册</a>-->
                    <!--            </li>-->
                </ul>
                <div class="headPortrait" v-html="user.head" @click="toMyPage"></div>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="高数" aria-label="Search">
                    <button class="btn" type="submit" style="background-color: aqua;color: white">搜索</button>
                </form>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown" style="margin-left: 10PX">
                        <select class="form-control form-control-lg">
                            <option>按题目查找</option>
                            <option>按回答查找</option>
                        </select>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div id="contain">
        <div class="con1">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-primary" id="button1" v-bind:class="{selected:recommendPage}" v-on:click="recommendPage=!recommendPage">推荐</button>
                <button type="button" class="btn btn-light" id="button2" v-bind:class="{selected:!recommendPage}" v-on:click="recommendPage=!recommendPage">分区</button>
            </div>
            <div id="recommendPage" v-if="recommendPage">
                <div class="media" v-for="recommend in recommends">
                    <div class="headPortrait" v-html="recommend.answererHead"></div>
                    <div class="media-body">
                        <span>{{recommend.answererName}}</span>
                        <span class="lb">
                        <b style="color: #12eee7">&nbsp;&nbsp;LV</b>
                        <i>{{recommend.answererLevel}}</i>
                    </span>
                        <span class="lb">
                        <i class="fas fa-award" style="color: #12eee7"></i>
                        <i>{{recommend.answererBadge}}</i>
                    </span>
                        <h5 class="mt-0" @click="toQuestionPage(recommend.questionId)">{{recommend.questionTitle}}</h5>
                        <p v-html="recommend.content"
                           @click="toAnswerPage(recommend.questionId,recommend.answerId)"
                       style="width:20em; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;"></p>
                        <span>{{recommend.approveNum}}赞同-{{recommend.commentNum}}评论</span>
                        <span class="dropdown">
                        <button class="hide" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-h" style="opacity: 0.5"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">不感兴趣</a>
                            <a class="dropdown-item" href="#">举报</a>
                        </div>
                    </span>
                    </div>
                </div>
            </div>
            <div style="text-align: center;font-size: 0.7em">
                <span v-if="loading === 0">加载中&nbsp;<i class="fas fa-redo-alt fa-spin" style="color: #acacac"></i></span>
                <span style="opacity: 0.5" v-if="loading === 1">没有更多内容</span>
                <span @click="loadMore(start)" class="btn-link" v-if="loading === 2">加载更多</span>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('[data-toggle="popover"]').popover({
            trigger: 'focus'
        })
    });
    let homePage = new Vue({
        el:"#index",
        data:{
            recommends:[],
            user:{},
            recommendPage:true,
            loading:0,
            start:0,
        },
        methods:{
            add:function () {
                if (this.loading === 0) {
                    return;
                }
                if (this.user.id === 0) {
                    location.href = "user/login.html?boot=0";
                } else {
                    location.href = "add.html";
                }
            },
            toRecommend:function () {
                sessionStorage.clear();
                location.reload();
            },
            toQuestionPage:function (questionId) {
                location.href = "question/question.html?questionId=" +questionId;
            },
            toAnswerPage:function (questionId,answerId) {
                location.href = "answer/answer.html?questionId=" + questionId
                    + "&answerId=" +answerId;
            },
            loadMore:function (start) {
                homePage.loading = 0;
                $.ajax({
                    url:"../answer/moreRecommend.action",
                    type:"POST",
                    data:{
                        start:start
                    },
                    dataType:"json",
                    success:function (result) {
                        if (result.resultCode === 0) {
                            let size = result.recommends.length;
                            result.recommends.forEach(function (item) {
                                homePage.recommends.push(item);
                            });
                            if (size < 20) {
                                homePage.loading = 1;
                            } else {
                                homePage.start += size;
                                homePage.loading = 2;
                            }
                            homePage.saveToSession();
                        } else if (result.resultCode === 1) {
                            homePage.loading = 1;
                            sessionStorage.setItem("loading",homePage.loading);
                        }
                    },
                    error:function (request,status,error) {
                        alert("系统异常！");
                        console.log(request.status);
                        console.log(request.readyState);
                        console.log(status);
                        homePage.loading = 2;
                    }
                });
            },
            saveToSession:function () {
                sessionStorage.setItem("recommends",JSON.stringify(homePage.recommends));
                sessionStorage.setItem("user",JSON.stringify(homePage.user));
                sessionStorage.setItem("loading",homePage.loading);
                sessionStorage.setItem("start",homePage.start);
            },
            toMyPage:function () {
                if (this.loading === 0) {
                    return;
                }
                if (this.user.id === 0) {
                    location.href = "user/login.html?boot=1";
                } else {
                    location.href = "user/personal_info.html";
                }
            }
        },
        mounted:function () {
            if (sessionStorage.getItem("recommends") != null) {
                this.recommends = JSON.parse(sessionStorage.getItem("recommends"));
                this.user = JSON.parse(sessionStorage.getItem("user"));
                this.loading = parseInt(sessionStorage.getItem("loading"));
                this.start = parseInt(sessionStorage.getItem("start"));
            } else {
                $.ajax({
                    url: "../answer/recommendAnswer.action",
                    type: "POST",
                    data: {},
                    dataType: "json",
                    success: function (result) {
                        if (result.resultCode === 0) {
                            homePage.recommends = result.recommends;
                            homePage.user = result.user;
                            homePage.loading = 2;
                            homePage.start = result.recommends.length;
                            homePage.saveToSession();
                        }
                    },
                    error: function (request, status, error) {
                        alert("系统异常！");
                        console.log(request.status);
                        console.log(request.readyState);
                        console.log(status);
                    }
                });
            }
        }
    });
</script>

</body>
</html>