<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>重置密码</title>
    <link rel="stylesheet" type="text/css" href="../css/global.css">
    <link rel="stylesheet" type="text/css" href="../css/computer/user/resetPassword.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://lib.baomitu.com/font-awesome/5.11.2/css/all.min.css">
    <script type="text/javascript" src="https://lib.baomitu.com/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://lib.baomitu.com/vue/2.6.10/vue.min.js"></script>
</head>
<body style="background-color: aliceblue">
<nav class="navbar navbar-expand-lg navbar-light fix">
    <a class="navbar-brand" href="#" style="margin-left: 250PX"><img src="../img/LOGO透明%20(1).png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active" style="margin-left: 10px">
                <a class="nav-link" href="#">首页 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">问答</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">登录</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">注册</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="高数" aria-label="Search">
            <button class="btn" type="submit" style="background-color: aqua;color: white">搜索</button>
        </form>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown" style="margin-left: 10PX">
                <select class="form-control form-control-lg">
                    <option>按题目查找</option>
                    <option>按回答查找</option>
                </select>
            </li>
        </ul>
    </div>
</nav>

<hr/>
<div id="logoContext">
    <img id="logoIn" src="../img/LOGO1.png">
</div>
<div id="resetPassword" >
    <div id="alert" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{alertMsg.head}}</strong>{{alertMsg.body}}
        <button type="button" class="close"  aria-label="Close" @click="closeAlert">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div id="verify" v-if="!passVerify" >
        <div id="identifyDiv">
            <input type="number" placeholder="请输入验证码" maxlength="6" id="verifyCode" value="" @keyup="validateVerify">
            <button class="codeBut" @click="getVerifyCode" v-if="!verify">获取验证码</button>
            <button class="codeBut" disabled="disabled" v-else>重新发送({{timeout}})</button>
        </div>
        <div id="codeUnderline"></div>
        <div class="errorMessage" v-if="verifyCodeError">{{verifyCodeErrorMsg}}</div>
        <div id="loginButDiv" v-if="!passVerify">
            <input type="submit" value="验证" id="loginBut" @click="toVerify">
        </div>
    </div>
    <div v-if="passVerify">
        <div id="userID">
            <input type="password" placeholder="请输入新密码" maxlength="12" id="password" value="">
        </div>
        <div id="userUnderline"></div>
        <div class="errorMessage" v-if="passwordError">{{passwordErrorMsg}}</div>
        <div id="psw">
            <input type="password" placeholder="确认密码" id="confirm" value="">
        </div>
        <div id="pswUnderline"></div>
        <div class="errorMessage" v-if="passwordError">{{passwordErrorMsg}}</div>
        <div id="loginButDiv1">
            <input type="submit" value="修改" id="loginBut1" @click="reset">
        </div>
    </div>
</div>

<script>
    let resetPassword = new Vue({
        el:"#resetPassword",
        data:{
            verify:false,
            passVerify:false,
            alertMsg:{head:"",body:""},
            timeout:60,
            verifyCodeError:false,
            verifyCodeErrorMsg:"",
            passwordError:false,
            passwordErrorMsg:""
        },
        methods:{
            getVerifyCode: function () {
                this.verify = true;
                let timer = setInterval(function () {
                    resetPassword.timeout--;
                    if (resetPassword.timeout === 0) {
                        clearInterval(timer);
                        resetPassword.verify = false;
                        resetPassword.timeout = 60;
                    }
                }, 1000);
                $.ajax({
                    type:"POST",
                    url:"../user/sendVerifyEmail.action",
                    data:{

                    },
                    dataType:"json",
                    success:function (result) {
                        if (result.head === "发送成功") {
                            let al = $("#alert");
                            al.removeClass("alert-success");
                            al.removeClass("alert-danger");
                            al.addClass("alert-success");
                            resetPassword.alertMsg.head = "发送成功";
                            resetPassword.alertMsg.body = "请进入邮箱查看验证码";
                            al.slideDown();
                        }
                    },
                    error:function () {
                        let al = $("#alert");
                        al.removeClass("alert-success");
                        al.removeClass("alert-danger");
                        al.addClass("alert-danger");
                        resetPassword.alertMsg.head = "服务器异常";
                        resetPassword.alertMsg.body = "";
                        al.slideDown();
                    }
                });
            },
            validateVerify:function () {
                let verifyCode = $("#verifyCode");
                let val = verifyCode.val();
                val.length > 6 ? verifyCode.val(val.slice(0,6)) : "";
            },
            closeAlert:function () {
                $("#alert").slideUp();
            },
            toVerify:function () {
                let verifyCode = $("#verifyCode").val();
                if (verifyCode.length === 0) {
                    this.verifyCodeErrorMsg = "验证码不得为空";
                    this.verifyCodeError = true;
                } else {
                    this.verifyCodeError = false;
                    $.ajax({
                        type:"POST",
                        url:"../user/resetPasswordVerify.action",
                        data:{
                            verifyCode:verifyCode
                        },
                        dataType:"json",
                        success:function (result) {
                            if (result.resultCode === 0) {
                                let al = $("#alert");
                                al.removeClass("alert-success");
                                al.removeClass("alert-danger");
                                al.addClass("alert-success");
                                resetPassword.alertMsg.head = "验证成功";
                                resetPassword.alertMsg.body = "请输入新密码和确认新密码";
                                al.slideDown();
                                resetPassword.passVerify = true;
                            }
                        },
                        error:function () {
                            let al = $("#alert");
                            al.removeClass("alert-success");
                            al.removeClass("alert-danger");
                            al.addClass("alert-danger");
                            resetPassword.alertMsg.head = "服务器异常";
                            resetPassword.alertMsg.body = "";
                            al.slideDown();
                        }
                    });
                }
            },
            reset:function () {
                let password = $("#password").val();
                let confirm = $("#confirm").val();
                if (password !== confirm) {
                    this.passwordErrorMsg = "两次输入密码不相同，请重新输入";
                    this.passwordError = true;
                } else if (password.length < 8 || password.length > 20) {
                    this.passwordErrorMsg = "密码长度不得少于8个字符多于20个字符，请重新输入";
                    this.passwordError = true;
                } else {
                    this.passwordError = false;
                    $.ajax({
                        type:"POST",
                        url:"../user/resetPassword.action",
                        data:{
                            newPassword:password
                        },
                        dataType:"json",
                        success:function (result) {
                            if (result.resultCode === 0) {
                                let al = $("#alert");
                                al.removeClass("alert-success");
                                al.removeClass("alert-danger");
                                al.addClass("alert-success");
                                resetPassword.alertMsg.head = "修改成功";
                                resetPassword.alertMsg.body = "";
                                al.slideDown();
                            }
                        },
                        error:function () {
                            let al = $("#alert");
                            al.removeClass("alert-success");
                            al.removeClass("alert-danger");
                            al.addClass("alert-danger");
                            resetPassword.alertMsg.head = "服务器异常";
                            resetPassword.alertMsg.body = "";
                            al.slideDown();
                        }
                    });
                }
            }
        },
        mounted:function () {
            $.ajax({
                type:"POST",
                url:"../user/isLogin.action",
                data:{

                },
                dataType:"json",
                success:function (result) {
                    if (result.resultCode === 1) {
                        alert("请先登录后再修改密码");
                        location.href = "login.html";
                    }
                },
                error:function () {
                    let al = $("#alert");
                    al.removeClass("alert-success");
                    al.removeClass("alert-danger");
                    al.addClass("alert-danger");
                    resetPassword.alertMsg.head = "服务器异常";
                    al.slideDown();
                }
            })
        }
    });
</script>
</body>
</html>