div{
    width: 100%;
}
table{
    width: 100%;
}
#header{
    background-color: white;
    padding: 0.5em 1em;
    box-shadow: 0 0.2em 0.3em #d6d6d6;
    position: fixed;
    top: 0;
    z-index: 9999;
}
#questionInf{
    width: 90%;
    margin: 0 auto;
}
#questionContent{

}
.hidePart{
    overflow: hidden;;
    text-overflow: ellipsis;
    display:-webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}