div{
    width: 100%;
}
table{
    width: 100%;
}
img{
    width: 100%;
    height: 100%;
}
#header{
    background-color: white;
    padding: 0.5em 1em;
    box-shadow: 0 0.2em 0.3em #d6d6d6;
    position: fixed;
    top: 0;
    z-index: 2000;
}
#questionInf{
    width: 90%;
    margin: 0 auto;
}
#questionContent{

}
.hidePart{
    overflow: hidden;
    text-overflow: ellipsis;
    display:-webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
#answererInf{
    width: 90%;
    margin: 0 auto;
}
#showAndHide{
    text-align: right;
    font-size: 0.7em;
    opacity: 0.5;
}
.headPortrait{
    border-radius: 100%;
    overflow: hidden;
}
#separator{
    width: 100%;
    height: 0.3em;
    background-color: #acacac;
    opacity: 0.3;
    margin: 0.5em 0;
}
#content{
    width: 90%;
    margin: 0 auto;
    padding: 0.5em 0;
}
.splitLine{
    height: 0.1em;
    background-color: #acacac;
    opacity: 0.3;
    margin: 0.5em 0;
}
#comments{
    width: 90%;
    margin: 0 auto;
}
.commentContent{
    padding-left: 2.6em;
}
#footer{
    padding: 0.3em 1em;
    box-shadow: 0 -0.3em 0.2em #d6d6d6;
    position: fixed;
    bottom: 0;
    z-index: 2000;
    background-color: white;
    text-align: center;
}
#operateMenu{
    padding: 0 5%;
    background-color: white;
    font-size: 1em;
}
.operateItem{
    text-align: center;
    color: #acacac;
}
#addCommentInput{
    border: #acacac solid 0.1em;
    opacity: 0.5;
    padding: 0.5em;
    border-radius: 1em;
    font-size: 0.8em;
}
.approved{
    color: red;
}