div{
    width: 100%;
}
table{
    width: 100%;
}
#header{
    background-color: white;
    padding: 0.2em 1em;
    box-shadow: 0 0.2em 0.3em #d6d6d6;
    position: fixed;
    top: 0;
    z-index: 9999;
}
.userHead{
    border-radius: 100%;
    overflow: hidden;
    height: 2em;
    width: 2em;
}
.commentContent{
    padding-left: 12%;
}
#separator{
    height: 0.5em;
    background-color: #acacac;
    opacity: 0.3;
    margin: 0.3em 0;
}
#commentInf,#replies{
    width: 90%;
    margin: 0 auto;
}
.line{
    background-color: #acacac;
    opacity: 0.5;
    height: 1px;
    margin: 0.5em 0;
}
.lineReply{
    padding-left: 2.7em;
}
#replyCount{
    width: 90%;
    margin: 0 auto;
    padding-top: 0.2em;
    padding-bottom: 0.3em;
}
.replyContent{
    padding-left: 12%;
}
#addReply{
    background-color: white;
    padding: 0.1em 0.5em;
    box-shadow: 0 -0.2em 0.3em #d6d6d6;
    position: fixed;
    bottom: 0;
    z-index: 9999;
}
.errorBox{
    color: red;
    font-size: 0.5em;
}