#contain{
    width: 50%;
    height: 82%;
    margin-left: 30%;
    margin-top: 3%;
    border-style: none;
}
.con1{
    width: 74%;
    height: 70%;
    float: left;
    background-color: white;
    border-style: none;
}
.con2{
    width: 25%;
    height: 78%;
    float: left;
    background-color: white;
    margin-left: 1%;
    border-style: none;
}
.con3{
    width: 25%;
    height: 20%;
    float: left;
    background-color: white;
    margin-left: 1%;
    margin-top: 1%;
    border-style: none;
}
.form-control{
    resize: none;
    border-style: none;
}
.guo-title-div{
    height: 60px;
    margin-left: 5%;
    margin-top: 5%;
    width: 94%;
    border-style: none;
}
.guo-title {
    height: 80px;
    width: 94%;
    border-width: thin;
    font-size: 32px;
    font-weight: bolder;
    padding-left: 10px;
    border-color: lightgrey;
    border-style: none;
}
.guo-text-div{
    margin-left: 5%;
    margin-top: 5%;
    width: 88%;
    height: 70%;
    border-style: none;
}
.guo-text{
    padding-left: 20px;
    width: 88%;
    height: 60%;
    font-size: 25px;
    border-style: none;
}
.guo-but{
    margin-left: 5%;
    margin-top: 6%;
    border-style: none;
    clear: left;

}
.guo-rich{
    height: 70%;
    width: 88%;
    margin-left: 5%;
    margin-top: 5%;
}
#richText{
    width: 100%;
    height: 100%;
    border-style: solid;
    border-color: red;
    padding-left: 10px;
}

.select{
    height: 100%;
    width: 30%;
    float: left;
}
.selectBut{
    color: black;
    border-radius: 3px;
    border-top-color: lightgrey;
    width: 100%;
    height: 100%;
}
.selectDiv{
    height: 10%;
    width: 98%;
    margin-left: 4%;
    margin-top: 3%;
    margin-bottom: 3%;
}
