.questionContent{
    height: 80%;
    background: white;
    margin-left: 15%;
    width: 40%;
    float: left;

}
.relativeQuestionDiv{
    height: 50%;
    background: white;
    margin-left: 3%;
    width: 20%;
    float: left;
}
.relativeRecommendDiv{
    height: 28%;
    background: white;
    margin-left: 3%;
    margin-top: 1%;
    width: 20%;
    float: left;
}
#questionTitle{
    margin-top: 5%;
    margin-left:10%;
}
.describe{
    height: 19%;
}
#describeQuestion{
    height: 100%;
    width: 80%;
    margin-top: 2%;
    margin-left: 10%;
    border-style: none;
    background: white;
}
hr{
    border-color: lightgrey;
}
.hr{
    width: 80%;
    margin-left: 10%;
}
.buttonDiv{
    height: 6%;
    width: 80%;
    margin-left: 10%;
    border-style: none;
}
.button{
    width: 20%;
    height: 90%;
    border-radius: 10px;
    border-style: none;
    float: left;
}
#collect{
    background:cornflowerblue ;
    color: white;
    height: 100%;
    width: 100%;
    border-style: none;
    border-radius: 10px;
    margin-top: 3%;
}
#answer{
    background: aqua;
    color: white;
    height: 100%;
    width: 100%;
    border-style: none;
    border-radius: 10px;
    margin-top: 3%;
}
.answerBut{
    margin-left: 5%;
    background: white;
}
.smallLabel{
    background: white;
    font-size: small;
    color: black;
}
.small{
    background: white;
    margin-left: 5%;
    margin-top: 2%;
    width: 20%;
    float: left;
}
.answerList{
    width: 80%;
    height: 50%;
    margin-left: 10%;
    margin-top: 2%;
    border-style: none;
}
.answerTable{
    width: 100%;
    border-style: none;
}
.item{
    height: 12%;
}
.bd{
    margin-left: 1%;
    font-weight: bold;
    font-size: smaller;
}
.item1{
    margin-top: 5%;
    height: 12%;
    border-bottom-color: lightgrey;
    border-bottom-style: solid;
    border-width: thin;
    width: 100%;
}
.answers{
    height: 30%;
    background-color: #fffbe3;
}
.answerMargin{
    background: #6affe1;
    border-radius: 20px;
    border-style: none;
    color: white;
    float: left;
    clear: right;
    width: 50%;
    padding-left: 10%;
}
.info{
    margin-left: 70%;
}
.likes{
    border-color: lightgrey;
    border-style: none;
    border-radius: 10px;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 40%;
    height: 50%;
    margin-bottom: 1%;
}

.title{
    margin-left: 5%;
    margin-top: 5%;
    font-size: 150%;
}
.titleTd{
    height: 60%;
    width: 90%;
    padding-top: 5%;
}
.titleDiv{
    width: 80%;
    float: left;
}
.adoptDiv{
    float: left;

    width:20%;
}
.adopt{
    color: white;
    padding-left: 10%;
    padding-right: 10%;
    background-color: aqua;
    border-style: none;
    border-radius: 10px;
}
.like{
    height: 40%;
    width: 90%;
    clear: left;
}
.likeButton{
    width: 10%;
    float: left;
}
.itemT{
    border-top-color: lightgrey;
    border-top-style: solid;
    border-top-width: thin;
}
a{
    color: black;
}
.page{

}
.pageDiv{
    height:10%;
    margin-left: 10%;
    width: 80%;
    clear: left;
}
#answerNum{
    font-weight: lighter;
    width: 100%;
    color: grey;
}
.label{
    float: left;
    margin-top: 0%;
    margin-left: 3%;
}
