<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <title>全部回复</title>
    <link rel="stylesheet" type="text/css" href="../../css/global.css">
    <link rel="stylesheet" type="text/css" href="../../css/mobile/reply/reply.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://lib.baomitu.com/font-awesome/5.11.2/css/all.min.css">
    <script type="text/javascript" src="https://lib.baomitu.com/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://lib.baomitu.com/vue/2.6.10/vue.min.js"></script>
</head>
<body>
<div id="allReply">
    <div id="header">
        <table>
            <td style="width: 33%;color: #acacac;font-size: 1.5em">
                <i class="fas fa-times" @click="back"></i>
            </td>
            <td style="width: 34%;text-align: center">
                <span v-if="load">评论详情</span>
                <span v-else>加载中&nbsp;<i class="fas fa-redo-alt fa-spin" style="color: #acacac"></i></span>
            </td>
            <td style="width: 33%;;color: #acacac;font-size: 1.5em;text-align: right">
                <i class="fas fa-sort-amount-up" v-if="sortType===0" @click="reverse"></i>
                <i class="fas fa-sort-amount-down" v-else="" @click="reverse"></i>
            </td>
        </table>
    </div>
    <br><br><br>
    <div v-if="load">
        <div id="commentInf">
            <table>
                <td style="width: 12%;text-align: center">
                    <div class="userHead" v-html="comment.head"></div>
                </td>
                <td style="width: 73%">
                    &nbsp;<span>{{comment.name}}</span>
                    <span v-if="comment.isQuestionOwner">(题问者)</span>
                    <span v-if="comment.isAnswerer">(回答者)</span>
                </td>
                <td style="width: 15%;text-align: right">
                    <div class="dropdown">
                        <button style="background-color: white;border: 0" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-h" style="opacity: 0.5"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <span class="dropdown-item">举报</span>
                        </div>
                    </div>
                </td>
            </table>
            <div class="commentContent">
                <p v-html="comment.content"></p>
            </div>
            <table style="opacity: 0.5;font-size: 0.7em;margin-top: 1em;">
                <td style="width: 70%;padding-left: 3.9em">
                    {{comment.time}}
                </td>
                <td style="width: 10%;text-align: right">
                    {{comment.approveNum}}
                </td>
                <td style="width: 10%;text-align: center;" @click="approveComment(comment)">
                    &nbsp;<i class="fas fa-thumbs-up" :class="{approved:comment.isApproved==1}"></i>
                </td>
                <td style="width: 10%;text-align: center">
                    <i class="fas fa-comment" @click="doReplyOthers(comment.userId,comment.name)"></i>
                </td>
            </table>
        </div>
        <div id="separator"></div>
        <div id="replyCount">{{comment.replyNum}}条回复</div>
        <div class="line"></div>
        <div id="replies">
            <div id="reply" v-for="reply in replies">
                <table>
                    <td style="width: 12%;text-align: center">
                        <div class="userHead" v-html="reply.head"></div>
                    </td>
                    <td style="width: 73%;font-size: 0.8em">
                        &nbsp;<span>{{reply.name}}</span>
                        <span v-if="reply.isQuestionOwner">(题问者)</span>
                        <span v-if="reply.isAnswerer">(回答者)</span>
                        <i class="fas fa-caret-right"></i>
                        <span>{{reply.targetName}}</span>
                    </td>
                    <td style="width: 15%;text-align: right;font-size: 0.8em">
                        <div class="dropdown">
                            <button style="background-color: white;border: 0" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-h" style="opacity: 0.5"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <span class="dropdown-item">举报</span>
                            </div>
                        </div>
                    </td>
                </table>
                <div class="replyContent">
                    <p v-html="reply.content"></p>
                </div>
                <table style="opacity: 0.5;font-size: 0.7em;margin-top: 1em;">
                    <td style="width: 70%;padding-left: 3.7em">
                        {{reply.time}}
                    </td>
                    <td style="width: 10%;text-align: right">
                        {{reply.approveNum}}
                    </td>
                    <td style="width: 10%;text-align: center;" @click="approveReply(reply)">
                        &nbsp;<i class="fas fa-thumbs-up" :class="{approved:reply.isApproved==1}"></i>
                    </td>
                    <td style="width: 10%;text-align: center">
                        <i class="fas fa-comment" @click="doReplyOthers(reply.userId,reply.name)"></i>
                    </td>
                </table>
                <div class="lineReply"><div class="line"></div></div>
            </div>
        </div>
    </div>
    <br>
    <div style="text-align: center;font-size: 0.7em;opacity: 0.5">没有更多内容</div>
    <br><br><br>
    <div id="addReply">
        <div class="errorBox" v-if="sendError">{{sendErrorMsg}}</div>
        <div v-if="replyOthers">
            <span>回复：{{targetName}}</span><button class="btn btn-link" @click="cancelReplyOthers">取消</button>
        </div>
        <table>
            <td style="width: 80%">
                <input type="text" class="form-control" aria-label="发送评论"
                       placeholder="在这里输入回复" v-model="sendContent">
            </td>
            <td style="width: 20%;text-align: right">
                <button class="btn btn-link" @click="send">发送</button>
            </td>
        </table>
    </div>
</div>
<script>
    let allReply = new Vue({
        el:"#allReply",
        data:{
            load:false,
            commentId:0,
            comment:{},
            replies:[],
            sendError:false,
            sendErrorMsg:"",
            sendContent:"",
            replyOthers:false,
            targetId: 0,
            targetName:"",
            noAction:false,
            sortType:0,
        },
        methods:{
            send:function () {
                let commentId = this.commentId;
                let content = this.sendContent;
                let replyTarget;
                this.sendError = false;
                if (content.length === 0) {
                    this.sendError = true;
                    this.sendErrorMsg = "回复内容为空";
                    return;
                }
                if (!this.replyOthers) {
                    replyTarget = this.comment.userId;
                } else {
                    replyTarget = this.targetId;
                }
                $.ajax({
                    type:"POST",
                    url:"../../reply/sendReply.action",
                    data:{
                        commentId:commentId,
                        content:content,
                        replyTarget:replyTarget
                    },
                    dataType:"json",
                    success:function (result) {
                        if (result.resultCode === 0) {
                            location.href = "../reply/reply.html?commentId=" + commentId;
                        } else if (result.resultCode === 1) {
                            if (confirm("登录后才能发送回复")) {
                                location.href = "../user/login.html?boot=0"
                            }
                        }
                    },
                    error: function (request, status, error) {
                        alert("系统异常！");
                        console.log(request.status);
                        console.log(request.readyState);
                        console.log(status);
                    }
                });
            },
            cancelReplyOthers:function () {
                this.targetName = "";
                this.targetId = 0;
                this.replyOthers = false;
            },
            doReplyOthers:function (targetId,targetName) {
                this.targetName = targetName;
                this.targetId = targetId;
                this.replyOthers = true;
            },
            back:function () {
                history.go(-1);
            },
            approveComment:function (comment) {
                if (allReply.noAction) {
                    return;
                }
                allReply.noAction = true;
                let type = "POST";
                let data = {
                    commentId:comment.id
                };
                let dataType = "json";
                if (comment.isApproved === 0) {
                    $.ajax({
                        url:"../../comment/approveComment.action",
                        type:type,
                        data:data,
                        dataType:dataType,
                        success:function (result) {
                            if (result.resultCode === 0) {
                                comment.isApproved = 1;
                                comment.approveNum += 1;
                            } else if (result.resultCode === 1) {
                                if (confirm("请先登录")) {
                                    location.href = "../user/login.html?boot=0";
                                }
                            }
                            allReply.noAction = false;
                        },
                        error:function (request,status,error) {
                            alert("系统异常！");
                            console.log(request.status);
                            console.log(request.readyState);
                            console.log(status);
                            allReply.noAction = false;
                        }
                    });
                } else {
                    $.ajax({
                        url:"../../comment/cancelApprove.action",
                        type:type,
                        data:data,
                        dataType:dataType,
                        success:function (result) {
                            if (result.resultCode === 0) {
                                comment.isApproved = 0;
                                comment.approveNum -= 1;
                            } else if (result.resultCode === 1) {
                                if (confirm("请先登录")) {
                                    location.href = "../user/login.html?boot=0";
                                }
                            }
                            allReply.noAction = false;
                        },
                        error:function (request,status,error) {
                            alert("系统异常！");
                            console.log(request.status);
                            console.log(request.readyState);
                            console.log(status);
                            allReply.noAction = false;
                        }
                    });
                }
            },
            approveReply:function (reply) {
                if (allComment.noAction) {
                    return;
                }
                allComment.noAction = true;
                let type = "POST";
                let data = {
                    replyId:reply.id
                };
                let dataType = "json";
                if (reply.isApproved === 0) {
                    $.ajax({
                        url:"../../reply/approveReply.action",
                        type:type,
                        data:data,
                        dataType:dataType,
                        success:function (result) {
                            if (result.resultCode === 0) {
                                reply.isApproved = 1;
                                reply.approveNum += 1;
                            } else if (result.resultCode === 1) {
                                if (confirm("请先登录")) {
                                    location.href = "../user/login.html?boot=0";
                                }
                            }
                            allReply.noAction = false;
                        },
                        error:function (request,status,error) {
                            alert("系统异常！");
                            console.log(request.status);
                            console.log(request.readyState);
                            console.log(status);
                            allReply.noAction = false;
                        }
                    });
                } else {
                    $.ajax({
                        url:"../../reply/cancelApprove.action",
                        type:type,
                        data:data,
                        dataType:dataType,
                        success:function (result) {
                            if (result.resultCode === 0) {
                                reply.isApproved = 0;
                                reply.approveNum -= 1;
                            } else if (result.resultCode === 1) {
                                if (confirm("请先登录")) {
                                    location.href = "../user/login.html?boot=0";
                                }
                            }
                            allReply.noAction = false;
                        },
                        error:function (request,status,error) {
                            alert("系统异常！");
                            console.log(request.status);
                            console.log(request.readyState);
                            console.log(status);
                            allReply.noAction = false;
                        }
                    });
                }
            },
            loadAll:function () {
                let commentId = this.commentId;
                let sortType = this.sortType;
                $.ajax({
                    type:"POST",
                    url:"../../reply/showMoreReply.action",
                    data:{
                        commentId:commentId,
                        sortType:sortType
                    },
                    dataType:"json",
                    success:function (result) {
                        if (result.resultCode === 0) {
                            allReply.comment = result.comment;
                            allReply.replies = result.replies;
                            allReply.load = true;
                        }
                    },
                    error:function (request,status,error) {
                        alert("系统异常！");
                        console.log(request.status);
                        console.log(request.readyState);
                        console.log(status);
                    }
                });
            },
            reverse:function () {
                if (this.sortType === 0) {
                    this.sortType = 1;
                } else {
                    this.sortType = 0;
                }
                this.load = false;
                this.loadAll();
            }
        },
        mounted:function () {
            let loc = location.href;
            loc = loc.replace("?","&").split("&");
            let commentId = loc[1];
            if (commentId.indexOf("commentId=")!==-1) {
                commentId = commentId.replace("commentId=","");
                this.commentId = commentId;
            } else {
                location.href = "../../error/mobile/404error.html"
            }
            this.loadAll();
        }
    });
</script>
</body>
</html>