div{
    width: 100%;
}
table{
    width: 100%;
}
#header{
    background-color: white;
    padding: 1em 1em;
    box-shadow: 0 0.2em 0.2em #d6d6d6;
}
#middle{
    width: 80%;
    margin: 0 auto;
}
#addQuestion{
    height: 3em;
    box-shadow: 0 0 0.5em #d6d6d6;
    padding: 1em 1em;
    border-radius: 0.5em;
}
#separator{
    opacity: 0.1;
    background-color: #acacac;
    height: 0.3em;
}
#recQuestions{
    width: 90%;
    margin: 0 auto;
}
.item{
    box-shadow: 0 0 10px #d6d6d6;
    padding: 1em 1em;
    border-radius: 0.5em;
}