div{
    width: 100%;
}
table{
    width: 100%;
}
#homeHeader{
    padding: 1em 1em 0 1em;
    background-color: white;
    top: 0;
    position: fixed;
    z-index: 2000;
}
#homeHeader h1{
    padding-left: 5%;
}
#space{
    height: 6.5em;
}
#searchBox{
    background-color: #e9e9e9;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: left;
    border-radius: 0.2em;
}
#recSearch{
    padding-left: 10%;
    color: #acacac;
}
.splitBox{
    width: 100%;
    height: 0.5em;
    background-color: #cecece;
    opacity: 0.5;
    margin-top: 0.5em;
}
.itemBody{
    width: 90%;
    margin: 20px auto;
}
.userInf{
    margin-bottom: 0.5em;
}
.username{
    margin-bottom: 20px;
}
.select{
    width: 50%;
    text-align: center;
    cursor: pointer;
    color: #00beee;
}
.selected{
    color: #00beee;
    border: 0;
    border-bottom: 2px solid #00beee;
}
.lb{
    padding-left: 2%;
}
#footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 -0.2em 0.2em #d6d6d6;
    text-align: center;
    padding: 0.2em 0;
}
#footer table div{
    font-size: 0.7em;
}
.answerView{
    white-space: nowrap;
    overflow: hidden;;
    text-overflow: ellipsis;
    display:-webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.answerView p{
    display: inline;
}
.answerView div{
    display: inline;
}
.hide{
    background-color: white;
    border: 0;
}
.hide:focus,
.hide:active:focus,
.hide.active:focus,
.hide.focus,
.hide:active.focus,
.hide.active.focus {
    outline: none;
    border-color: transparent;
    box-shadow:none;
}
.headPortrait{
    border-radius: 100%;
    overflow: hidden;
}
#myPage{
    margin: 1em 0;
}
#myPageContent{
    width: 90%;
    margin: 0 auto;
}
.splitLine{
    background-color: #acacac;
    opacity: 0.5;
    height: 1px;
    margin: 0.5em 0;
}
#myPageHead{
    background-color: rgba(53, 238, 214, 0.47);
    padding-bottom: 0.1em;
}
#control{
    width: 90%;
    margin: 0 auto;
    padding-top: 0.5em;
}
.redDot{
    width: 0.5em;
    height: 0.5em;
    background-color: red;
    border-radius: 100%;
    position: relative;
    top: -0.3em;
    left: -0.2em;
}
.redDot1{
    width: 0.5em;
    height: 0.5em;
    background-color: red;
    border-radius: 100%;
    position: relative;
    top: -0.6em;
    left: -0.3em;
}
#myInf{
    width: 90%;
    margin: 0 auto 1em;
    border-radius: 1em;
    background-color: white;
    padding: 1em;
}
.recordSpan{
    width: 25%;
    text-align: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.recordSpanText{
    font-size: 0.8em;
}
