.selectItem{
    padding: 0.5em 0;
}
#category{
    width: 90%;
    margin: 0 auto;
}
#subject{
    width: 90%;
    margin: 0 auto;
}
#major{
    width: 90%;
    margin: 0 auto;
}
#questions{
    width: 90%;
    margin: 0 auto;
}