div{
    width: 100%;
}
table{
    width: 100%;
}
#logonArea{
    width: 80%;
    margin: 5% auto;
    text-align: center;
}
#logonArea input{
    font-size: 3em;
    padding: 0 5%;
}
#logonArea i{
    color: #acacac;
}