<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <title>问题</title>
    <link rel="stylesheet" type="text/css" href="../../css/global.css">
    <link rel="stylesheet" type="text/css" href="../../css/mobile/question/question.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://lib.baomitu.com/font-awesome/5.11.2/css/all.min.css">
    <script type="text/javascript" src="https://lib.baomitu.com/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://lib.baomitu.com/vue/2.6.10/vue.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://lib.baomitu.com/element-ui/2.12.0/theme-chalk/index.css">
    <script type="text/javascript" src="https://lib.baomitu.com/element-ui/2.12.0/index.js"></script>
    <link rel="stylesheet" href="https://lib.baomitu.com/mint-ui/2.2.13/style.min.css">
    <script type="text/javascript" src="https://lib.baomitu.com/mint-ui/2.2.13/index.js"></script>
</head>
<body>
<div id="question" v-loading="loading === 0">
    <div id="header">
        <table style="color: #acacac;">
            <td style="width: 80%;"><i class="fas fa-chevron-left" @click="back"></i></td>
            <td style="width: 10%;text-align: right">
                <i class="fas fa-search"></i>
            </td>
            <td style="width: 10%;text-align: right">
                <i class="fas fa-ellipsis-v" data-toggle="modal" data-target="#operateModal"></i>
            </td>
        </table>
    </div>
    <br>
    <div id="questionInf">
        <table style="margin-bottom: 1em">
            <td style="width: 12%" @click="toUserPage(owner.id)">
                <div v-html="headPortrait" class="headPortrait"></div>
            </td>
            <td style="width: 53%;color: #00a0ee"><span style="color: #ff4d26">{{owner.username}}&nbsp;的提问</span></td>
            <td style="width: 35%;text-align: right">
                <span v-if="isSolved" style="color: #8000ee"><i class="fas fa-check-circle"></i>&nbsp;问题已解决</span>
                <span v-else style="color: #acacac"><i class="fas fa-times-circle"></i>&nbsp;问题未解决</span>
            </td>
        </table>
        <h5><b>{{title}}</b></h5>
        <h6 v-html="content"></h6>
        <br>
        <table style="font-size: 0.8em;opacity: 0.5">
            <td style="width: 50%">{{collectionCount}}人收藏-{{browsingCount}}次浏览</td>
            <td style="width: 50%;text-align: right">
                <span style="color: #ee9400" v-if="isCollected == 1" @click="cancelCollect">
                    <i class="fas fa-star"></i>&nbsp;问题已收藏
                </span>
                <span @click="collect" v-else>
                    <i class="fas fa-star"></i>&nbsp;收藏问题
                </span>
            </td>
        </table>
        <div id="line"></div>
        <table style="font-size: 0.8em">
            <td style="width: 50%"><span style="opacity: 0.6">回答{{answerCount}}</span></td>
            <td style="width: 50%;text-align: right">
                <el-dropdown @command="changeSort">
                    <span class="el-dropdown-link">
                        {{sortType.sortMethod}}<i class="el-icon-arrow-down el-icon--right"></i>
                    </span>
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item command="1">默认排序</el-dropdown-item>
                        <el-dropdown-item command="0">按时间排序</el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
            </td>
        </table>
    </div>
    <div id="answerList">
        <div class="item" v-for="answer in answers">
            <div class="separator"></div>
            <h6 style="color: #00d6ee" v-if="answer.isAdopt == 1"><i class="fas fa-check"></i>&nbsp;此回答已被采纳</h6>
            <div class="answer">
                <div class="answererInf">
                    <table style="margin-bottom: 0.5em">
                        <td style="width: 15%" @click="toUserPage(answer.answererId)">
                            <div class="headPortrait" v-html="answer.answererHead"></div>
                        </td>
                        <td style="width: 55%">
                            <span class="username">{{answer.answererName}}</span>
                            <span class="identity"></span>
                        </td>
                        <td style="width: 30%;text-align: right">
                            <span class="lb">
                                <b style="color: #00d6ee">LV</b>
                                <i>&nbsp;{{answer.answererLevel}}</i>
                            </span>
                            <span class="lb">
                                <i class="fas fa-award fa-1x" style="color: #00d6ee"></i>
                                <i>{{answer.answererBadge}}</i>
                            </span>
                        </td>
                    </table>
                </div>
                <div class="answerInf">
                    <div class="answerView" v-html="answer.answerView" @click="answerPage(answer.answerId)"></div>
                    <table>
                        <td style="width: 90%;opacity: 0.5;font-size: 0.8em">
                            {{answer.answerApprove}}赞同-{{answer.answerComment}}评论-{{answer.answerTime}}
                        </td>
                        <td style="width: 10%;text-align: right;" @click="reportAnswer(answer.answerId)">
                            <i class="fas fa-ellipsis-h" style="opacity: 0.5"></i>
                        </td>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div style="text-align: center;font-size: 0.7em;">
        <span v-if="hasMore&&!loadingMore" class="btn-link" @click="loadMore">点击加载更多</span>
        <span style="opacity: 0.5" v-if="!hasMore&&!loadingMore">没有更多内容</span>
        <span v-if="loadingMore">加载中&nbsp;<i class="fas fa-redo-alt fa-spin" style="color: #acacac"></i></span>
    </div>
    <br><br><br>
    <div id="footer">
        <table>
            <td><button @click="openInvite"><i class="fas fa-user-plus"></i>&nbsp;邀请回答</button></td>
            <td><button @click="addAnswer"><i class="fas fa-pen" @click="postAnswer"></i>&nbsp;写回答</button></td>
            <td  v-if="isCollected===1"><button @click="cancelCollect"><i class="fas fa-star"></i>&nbsp;已收藏</button></td>
            <td  v-else><button style="color: #acacac" @click="collect"><i class="fas fa-star"></i>&nbsp;收藏问题</button></td>
        </table>
    </div>
    <div style="z-index: 9999;" class="modal fade" id="operateModal" tabindex="-1"
         role="dialog" aria-labelledby="topModalLabel" aria-hidden="true">
        <div class="modal-dialog  modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">操作</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="operateMenu">
                        <br>
                        <table>
                            <td class="operateItem" v-if="viewerIsOwner==1">
                                <div><i class="fas fa-edit fa-2x" @click="ediQuestion"></i></div>
                                <span>编辑问题</span>
                            </td>
                            <td class="operateItem" v-if="viewerIsOwner==1">
                                <div><i class="fas fa-trash-alt fa-2x" @click="deleteQuestion"></i></div>
                                <span>删除问题</span>
                            </td>
                            <td class="operateItem" v-if="viewerIsOwner==0">
                                <div><i class="fas fa-minus-circle fa-2x" @click="reportQuestion"></i></div>
                                <span>举报问题</span>
                            </td>
                            <td class="operateItem" v-if="viewerIsOwner==1 && isAnonymous==1">
                                <div>
                                    <i class="fas fa-user-check fa-2x" @click="cancelAnonymous"></i>
                                </div>
                                <span>取消匿名</span>
                            </td>
                        </table>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <mt-popup v-model="popupVisible" position="right" style="height: 100%;padding: 1em;overflow-y: auto">
        <table>
            <td style="width: 10%">
                <i class="fas fa-times" @click="popupVisible=false" style="font-size: 1.5em;color: #acacac"></i>
            </td>
            <td style="width: 90%;text-align: center">
                <input type="text" class="form-control" placeholder="搜索用户" aria-label="invite" v-model="keyword">
            </td>
        </table>
        <br>
        <div>
            <div class="inviteItem" v-for="(invite,index) in inviteList">
                <table>
                    <td style="width: 15%">
                        <div v-html="invite.userHead" class="head"></div>
                    </td>
                    <td style="width: 55%;padding-left: 0.5em">
                        <div class="inviteName">
                            {{invite.userName}}
                            <span v-if="invite.identity.type!==-1">
                                （{{invite.identity.realName}}）
                                <i class="fas fa-shield-alt" style="color: #eec100" v-if="invite.identity.type===1"></i>
                                <i class="fas fa-shield-alt" style="color: #0051ee" v-else=""></i>
                            </span>
                        </div>
                        <div class="inviteInt">{{invite.userIntroduction}}</div>
                    </td>
                    <td style="width: 30%;text-align: right">
                        <span style="color: #acacac" v-if="invite.invited">
                            <i class="fas fa-check"></i>&nbsp;已邀请
                        </span>
                        <span class="inviteBtn" v-else="" @click="doInvite(invite.userId,index)">
                            <i class="fas fa-user-plus"></i>&nbsp;邀请
                        </span>
                    </td>
                </table>
            </div>
        </div>
    </mt-popup>
    <mt-actionsheet :actions="actions" v-model="showSheet"></mt-actionsheet>
</div>
<script type="text/javascript">
    let question = new Vue({
        el:"#question",
        data:{
            questionData:{},
            questionId:0,
            viewerIsOwner:0,
            isAnonymous:1,
            isSolved:1,
            owner:{
                head:"0.jpg"
            },
            title:"",
            content:"",
            collectionCount:0,
            browsingCount:0,
            answerCount:0,
            answers:[],
            sortType:{
                sortMethod:"默认排序",
                sort:0
            },
            headFirstPart:"<img src='../../head/",
            headLastPart:"' width='100%' height='100%' alt=''>",
            loading:0,
            isCollected:0,
            noAction:false,
            start:0,
            hasMore:false,
            loadingMore:true,
            actions:[
                {
                    name:"举报",
                    method:function () {
                        let reportInfo = {
                            targetId: question.selectAid,
                            type: 2
                        };
                        sessionStorage.setItem("reportInfo", JSON.stringify(reportInfo));
                        location.href = "../report/report.html";
                    }
                },
            ],
            selectAid:0,
            showSheet:false,
            popupVisible:false,
            inviteList:[],
            keyword:""
        },
        methods:{
            postAnswer:function () {
                location.href = "../answer/postAnswer.html?questionId=" + this.questionId;
            },
            showOperateMenu:function () {
                $("#operateMenu").slideToggle();
            },
            cancelAnonymous:function () {
                this.$messagebox.confirm("确定取消匿名吗？").then(action => {
                    $.ajax({
                        url:"../../question/cancelAnonymous.action",
                        type:"POST",
                        data:{
                            questionId:question.questionId
                        },
                        dataType:"json",
                        success:function (result) {
                            if (result.resultCode === 0) {
                                sessionStorage.removeItem("questionData");
                                sessionStorage.removeItem("questionInfo");
                                history.go(0);
                            }
                        },
                        error:function (request,status,error) {
                            alert("系统异常！");
                            console.log(request.status);
                            console.log(request.readyState);
                            console.log(status);
                        }
                    });
                }).catch(action => {});
            },
            answerPage: function (answerId) {
                location.href = "../answer/answer.html?questionId=" + this.questionId
                    + "&answerId=" + answerId;
            },
            collect:function () {
                if (question.noAction) {
                    return;
                }
                question.noAction = true;
                $.ajax({
                    type:"POST",
                    url:"../../question/collectQuestion.action",
                    data:{
                        questionId:question.questionId
                    },
                    dataType:"json",
                    success:function (result) {
                        if (result.resultCode === 0) {
                            question.isCollected = 1;
                            question.collectionCount++;
                            question.noAction = false;
                        } else if (result.resultCode === 1) {
                            question.$messagebox.confirm("登录后才能收藏问题").then(action => {
                                location.href = "../user/login.html?boot=0";
                            }).catch(action => {});
                            question.noAction = false;
                        }
                    },
                    error:function (request,status,error) {
                        alert("系统异常！");
                        console.log(request.status);
                        console.log(request.readyState);
                        console.log(status);
                        question.noAction = false;
                    }
                });
            },
            cancelCollect:function () {
                if (question.noAction) {
                    return;
                }
                question.noAction = true;
                $.ajax({
                    type:"POST",
                    url:"../../question/cancelCollect.action",
                    data:{
                        questionId:question.questionId
                    },
                    dataType:"json",
                    success:function (result) {
                        if (result.resultCode === 0) {
                            question.isCollected = 0;
                            question.collectionCount --;
                            question.noAction = false;
                        }
                    },
                    error:function (request,status,error) {
                        alert("系统异常！");
                        console.log(request.status);
                        console.log(request.readyState);
                        console.log(status);
                        question.noAction = false;
                    }
                });
            },
            addAnswer:function () {
                location.href = "../answer/postAnswer.html?questionId=" + this.questionId;
            },
            back:function () {
                sessionStorage.removeItem("questionData");
                sessionStorage.removeItem("questionInfo");
                history.go(-1);
            },
            loadMore:function () {
                if (!this.hasMore || this.loadingMore) {
                    return;
                }
                this.loadingMore = true;

                $.ajax({
                    url:"../../question/moreAnswer.action",
                    type:"POST",
                    data:{
                        start:question.start,
                        questionId:question.questionId,
                        sort:this.sortType.sort
                    },
                    dataType:"json",
                    success:function (result) {
                        if (result.resultCode === 0) {
                            let size = result.answers.length;
                            result.answers.forEach(function (item) {
                                question.answers.push(item);
                                question.questionData.questionAnswers.push(item);
                            });
                            question.hasMore = size >= 20;
                            question.start += size;
                        } else {
                            result.answers.forEach(function (item) {
                                question.answers.push(item);
                                question.questionData.questionAnswers.push(item);
                            });
                            question.hasMore = false;
                        }
                        sessionStorage.setItem("questionData",JSON.stringify(question.questionData));
                        question.loadingMore = false;
                    },
                    error:function (request,status,error) {
                        alert("系统异常！");
                        console.log(request.status);
                        console.log(request.readyState);
                        console.log(status);
                        question.loadingMore = false;
                    }
                });
            },
            installData:function (data) {
                this.questionData = data;
                this.isAnonymous = data.isAnonymous;
                this.owner.id = data.owner.id;
                this.owner.username = data.owner.username;
                this.owner.head = data.owner.head;
                this.title = data.title;
                this.content = data.content;
                this.collectionCount = data.collectionCount;
                this.browsingCount = data.browsingCount;
                this.answerCount = data.answerCount;
                this.answers = data.questionAnswers;
                this.isSolved = data.isSolved;
                this.isCollected = data.isCollected;
            },
            saveInfo:function () {
                let questionInfo = {
                    viewerIsOwner:question.viewerIsOwner,
                    hasMore:question.hasMore,
                    start:question.start
                };
                sessionStorage.setItem("questionInfo",JSON.stringify(questionInfo));
            },
            loadLocalData:function () {
                let questionData = JSON.parse(sessionStorage.getItem("questionData"));
                this.installData(questionData);
                let questionInfo = JSON.parse(sessionStorage.getItem("questionInfo"));
                this.viewerIsOwner = questionInfo.viewerIsOwner;
                this.start = questionInfo.start;
                this.hasMore = questionInfo.hasMore;
                this.loading = 1;
            },
            reportQuestion:function () {
                let reportInfo = {
                    targetId: question.questionId,
                    type: 1
                };
                sessionStorage.setItem("reportInfo", JSON.stringify(reportInfo));
                location.href = "../report/report.html";
            },
            reportAnswer:function (id) {
                this.selectAid = id;
                this.showSheet = true;
            },
            ediQuestion:function () {
                location.href = "editQuestion.html?questionId=" + this.questionId;
            },
            deleteQuestion:function () {
                this.$messagebox.confirm("问题删除后将无法恢复，确定删除吗？").then(action => {
                    $.ajax({
                        url:"../../question/deleteQuestion.action",
                        type:"POST",
                        data:{
                            questionId:question.questionId
                        },
                        dataType:"json",
                        success:function (result) {
                            if (result.resultCode === 0) {
                                sessionStorage.setItem("notice","问题删除成功！");
                                location.href = "../record/postQueRecord.html";
                            } else if (result.resultCode === 1) {
                                location.href = "../user/login.html?boot=1";
                            } else if (result.resultCode === 2) {
                                location.href = "../home.html";
                            }
                        },
                        error:function (request,status,error) {
                            alert("系统异常！");
                            console.log(request.status);
                            console.log(request.readyState);
                            console.log(status);
                        }
                    });
                }).catch(action => {

                });
            },
            changeSort:function (type) {
                type = parseInt(type);
                let answerSort;
                if (type === 1) {
                    answerSort = {
                        sortMethod: "默认排序",
                        sort:0
                    };
                } else {
                    answerSort = {
                        sortMethod: "按时间排序",
                        sort:1
                    };
                }
                sessionStorage.setItem("answerSort",JSON.stringify(answerSort));
                sessionStorage.removeItem("questionData");
                sessionStorage.removeItem("questionInfo");
                history.go(0);
            },
            toUserPage:function (id) {
                if (id === 0 || id === "0") {
                    return;
                }
                location.href = "../user/user.html?userId=" + id;
            },
            openInvite:function () {
                $.ajax({
                    url: "../../user/isLogin.action",
                    type: "POST",
                    data: {},
                    dataType: "json",
                    success: function (result) {
                        if (result.resultCode === 0) {
                            question.popupVisible=true;
                        } else {
                            question.$messagebox.confirm("登录后才能邀请").then(action =>{
                                location.href = "../user/login.html?boot=0";
                            }).catch(action =>{});
                        }
                    },
                    error: function (request, status, error) {
                        alert("系统异常！");
                        console.log(request.status);
                        console.log(request.readyState);
                        console.log(status);
                    }
                });
            },
            doInvite:function (userId,index) {
                $.ajax({
                    url: "../../question/inviteAnswer.action",
                    type: "POST",
                    data: {
                        questionId:question.questionId,
                        userId:userId
                    },
                    dataType: "json",
                    success: function (result) {
                        if (result.resultCode === 0) {
                            question.inviteList[index].invited = true;
                        }
                    },
                    error: function (request, status, error) {
                        alert("系统异常！");
                        console.log(request.status);
                        console.log(request.readyState);
                        console.log(status);
                    }
                });
            }
        },
        mounted:function () {
            if (sessionStorage.getItem("notice") != null) {
                this.$toast({
                    message:sessionStorage.getItem("notice"),
                    position: 'bottom',
                    duration: 2000
                });
                sessionStorage.removeItem("notice");
            }
            if (sessionStorage.getItem("answerSort") != null) {
                this.sortType = JSON.parse(sessionStorage.getItem("answerSort"));
            }
            let loc = location.href;
            let qid = loc.replace("?","&").split("&")[1];
            let questionId;
            if (qid.indexOf("questionId=")!==-1) {
                questionId = qid.replace("questionId=","");
                this.questionId = questionId;
            } else {
                location.href = "../../error/mobile/404error.html"
            }
            if (sessionStorage.getItem("questionInfo") != null && sessionStorage.getItem("questionData") != null) {
                this.loadLocalData();
                this.loadingMore = false;
                return;
            }
            let sort = this.sortType.sort;
            $.ajax({
                url:"../../question/viewQuestion.action",
                type:"POST",
                data:{
                    questionId:questionId,
                    sort:sort
                },
                dataType:"json",
                success:function (result) {
                    if (result.resultCode === 0) {
                        question.installData(result.question);
                        question.viewerIsOwner = result.viewerIsOwner;
                        question.loading = 1;
                        question.loadingMore = false;
                        question.start += result.question.questionAnswers.length;
                        if (result.question.questionAnswers.length === 20) {
                            question.hasMore = true;
                        }
                        sessionStorage.setItem("questionData",JSON.stringify(question.questionData));
                        question.saveInfo();
                    } else if (result.resultCode === 1) {
                        alert("问题找不到！")
                    }
                },
                error:function (e) {
                    alert("系统错误");
                }
            });
        },
        computed:{
            headPortrait:function () {
                return this.headFirstPart + this.owner.head + this.headLastPart;
            }
        },
        watch:{
            keyword:function (val,oldVal) {
                if (val.length ===0) {
                    return;
                }
                $.ajax({
                    url: "../../question/findUser.action",
                    type: "POST",
                    data: {
                        keyword:val
                    },
                    dataType: "json",
                    success: function (result) {
                        if (result.resultCode === 0) {
                            question.inviteList = result.users;
                            question.inviteList.forEach(function (item) {
                                question.$set(item,"invited",false);
                            })
                        }
                    },
                    error: function (request, status, error) {
                        alert("系统异常！");
                        console.log(request.status);
                        console.log(request.readyState);
                        console.log(status);
                    }
                });
            }
        }
    });
</script>
</body>
</html>