<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <title>问题</title>
    <link rel="stylesheet" type="text/css" href="../../css/global.css">
    <link rel="stylesheet" type="text/css" href="../../css/mobile/question/question.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://lib.baomitu.com/font-awesome/5.11.2/css/all.min.css">
    <script type="text/javascript" src="https://lib.baomitu.com/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://lib.baomitu.com/vue/2.6.10/vue.min.js"></script>
</head>
<body>
<div id="question">
    <div id="header">
        <table style="color: #acacac;">
            <td style="width: 80%;"><i class="fas fa-chevron-left" @click="back"></i></td>
            <td style="width: 10%;text-align: right">
                <i class="fas fa-search"></i>
            </td>
            <td style="width: 10%;text-align: right">
                <i class="fas fa-ellipsis-v" data-toggle="modal" data-target="#operateModal"></i>
            </td>
        </table>
    </div>
    <br>
    <div id="questionInf" v-if="loading > 0">
        <table style="color: #12eee7;margin-bottom: 1em">
            <td style="width: 15%">
                <div v-html="headPortrait" class="headPortrait"></div>
            </td>
            <td style="width: 50%"><span>{{owner.username}}</span>的提问</td>
            <td style="width: 35%;text-align: right">
                <span v-if="isSolved"><i class="fas fa-check-circle"></i>&nbsp;问题已解决</span>
                <span v-else style="color: #acacac"><i class="fas fa-times-circle"></i>&nbsp;问题未解决</span>
            </td>
        </table>
        <h5><b>{{title}}</b></h5>
        <h6 v-html="content"></h6>
        <br>
        <table style="font-size: 0.8em;opacity: 0.5">
            <td style="width: 50%">{{collectionCount}}人收藏-{{browsingCount}}次浏览</td>
            <td style="width: 50%;text-align: right">
                <span style="color: #12eee7" v-if="isCollected == 1" @click="cancelCollect">
                    <i class="fas fa-star"></i>&nbsp;问题已收藏
                </span>
                <span @click="collect" v-else>
                    <i class="fas fa-star"></i>&nbsp;收藏问题
                </span>
            </td>
        </table>
        <div id="line"></div>
        <table style="font-size: 0.8em">
            <td style="width: 50%"><span style="opacity: 0.6">回答{{answerCount}}</span></td>
            <td style="width: 50%;text-align: right">
                <div class="dropdown">
                    <button class="noBorder dropdown-toggle" type="button" id="sortDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span style="font-size: 0.8em;opacity: 0.6">{{sortMethod}}</span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="sortDropdown" style="font-size: 0.8em;width: 5em">
                        <button class="noBorder" style="display: block">默认排序</button>
                        <button class="noBorder" style="display: block">按时间排序</button>
                    </div>
                </div>
            </td>
        </table>
    </div>
    <div id="answerList">
        <div class="item" v-for="answer in answers">
            <div class="separator"></div>
            <h6 style="color: #12eee7" v-if="answer.isAdopt == 1"><i class="fas fa-check"></i>&nbsp;此回答已被采纳</h6>
            <div class="answer">
                <div class="answererInf">
                    <table style="margin-bottom: 0.5em">
                        <td style="width: 15%">
                            <div class="headPortrait" v-html="answer.answererHead"></div>
                        </td>
                        <td style="width: 55%">
                            <span class="username">{{answer.answererName}}</span>
                            <span class="identity"></span>
                        </td>
                        <td style="width: 30%;text-align: right">
                            <span class="lb"><b>LV&nbsp;{{answer.answererLevel}}</b></span>
                            <span class="lb">
                                <i class="fas fa-award fa-1x"></i>
                                <b>{{answer.answererBadge}}</b>
                            </span>
                        </td>
                    </table>
                </div>
                <div class="answerInf">
                    <div class="answerView" v-html="answer.answerView" @click="answerPage(answer.answerId)"></div>
                    <table>
                        <td style="width: 90%;opacity: 0.5;font-size: 0.8em">
                            {{answer.answerApprove}}赞同-{{answer.answerComment}}评论-{{answer.answerTime}}
                        </td>
                        <td style="width: 10%;text-align: right;" data-toggle="modal" data-target="#operateModal1">
                            <i class="fas fa-ellipsis-h" style="opacity: 0.5"></i>
                        </td>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div style="text-align: center;font-size: 0.7em;">
        <span v-if="hasMore&&!loadingMore" class="btn-link" @click="loadMore">点击加载更多</span>
        <span style="opacity: 0.5" v-if="!hasMore&&!loadingMore">没有更多内容</span>
        <span v-if="loadingMore">加载中&nbsp;<i class="fas fa-redo-alt fa-spin" style="color: #acacac"></i></span>
    </div>
    <br><br><br>
    <div id="footer">
        <table>
            <td><button><i class="fas fa-user-plus"></i>&nbsp;邀请回答</button></td>
            <td><button @click="addAnswer"><i class="fas fa-pen" @click="postAnswer"></i>&nbsp;写回答</button></td>
            <td  v-if="isCollected===1"><button @click="cancelCollect"><i class="fas fa-star"></i>&nbsp;已收藏</button></td>
            <td  v-else><button style="color: #acacac" @click="collect"><i class="fas fa-star"></i>&nbsp;收藏问题</button></td>
        </table>
    </div>
    <div style="z-index: 9999;" class="modal fade" id="operateModal" tabindex="-1"
         role="dialog" aria-labelledby="topModalLabel" aria-hidden="true">
        <div class="modal-dialog  modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">操作</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="operateMenu">
                        <br>
                        <table>
                            <td class="operateItem" v-if="viewerIsOwner==1">
                                <div><i class="fas fa-trash-alt fa-2x"></i></div>
                                <span>删除问题</span>
                            </td>
                            <td class="operateItem" v-if="viewerIsOwner==0">
                                <div><i class="fas fa-minus-circle fa-2x"></i></div>
                                <span>举报问题</span>
                            </td>
                            <td class="operateItem" v-if="viewerIsOwner==1 && isAnonymous==1">
                                <div>
                                    <i class="fas fa-user-check fa-2x" @click="cancelAnonymous"></i>
                                </div>
                                <span>取消匿名</span>
                            </td>
                        </table>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="z-index: 9999;" class="modal fade" id="operateModal1" tabindex="-1"
         role="dialog" aria-labelledby="topModalLabel" aria-hidden="true">
        <div class="modal-dialog  modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel1">操作</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="operateMenu1">
                        <button class="btn btn-light" style="width: 100%;margin: 0 auto;text-align: left">
                            <i class="fas fa-minus-circle" style="color: #acacac"></i>&nbsp;举报
                        </button>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    let question = new Vue({
        el:"#question",
        data:{
            questionData:{},
            questionId:0,
            viewerIsOwner:0,
            isAnonymous:1,
            isSolved:1,
            owner:{
                id:1,
                username:"",
                head:"0.jpg",
            },
            title:"",
            content:"",
            collectionCount:0,
            browsingCount:0,
            answerCount:0,
            answers:[],
            sortMethod:"默认排序",
            headFirstPart:"<img src='../../head/",
            headLastPart:"' width='100%' height='100%' alt=''>",
            loading:0,
            isCollected:0,
            noAction:false,
            start:0,
            hasMore:false,
            loadingMore:true
        },
        methods:{
            postAnswer:function () {
                location.href = "../answer/postAnswer.html?questionId=" + this.questionId;
            },
            showOperateMenu:function () {
                $("#operateMenu").slideToggle();
            },
            cancelAnonymous:function () {
                if (confirm("确定取消匿名吗？")) {
                    $.ajax({
                        url:"../../question/cancelAdopt.action",
                        type:"POST",
                        data:{
                            questionId:question.questionId
                        },
                        dataType:"json",
                        success:function (result) {
                            if (result.resultCode === 0) {
                                history.go(0);
                            }
                        },
                        error:function (request,status,error) {
                            alert("系统异常！");
                            console.log(request.status);
                            console.log(request.readyState);
                            console.log(status);
                        }
                    });
                }
            },
            answerPage: function (answerId) {
                location.href = "../answer/answer.html?questionId=" + this.questionId
                    + "&answerId=" + answerId;
            },
            collect:function () {
                if (question.noAction) {
                    return;
                }
                question.noAction = true;
                $.ajax({
                    type:"POST",
                    url:"../../question/collectQuestion.action",
                    data:{
                        questionId:question.questionId
                    },
                    dataType:"json",
                    success:function (result) {
                        if (result.resultCode === 0) {
                            question.isCollected = 1;
                            question.collectionCount++;
                            question.noAction = false;
                        } else if (result.resultCode === 1) {
                            if (confirm("登录后才能收藏问题")) {
                                location.href = "../user/login.html?boot=0";
                            }
                            question.noAction = false;
                        }
                    },
                    error:function (request,status,error) {
                        alert("系统异常！");
                        console.log(request.status);
                        console.log(request.readyState);
                        console.log(status);
                        question.noAction = false;
                    }
                });
            },
            cancelCollect:function () {
                if (question.noAction) {
                    return;
                }
                question.noAction = true;
                $.ajax({
                    type:"POST",
                    url:"../../question/cancelCollect.action",
                    data:{
                        questionId:question.questionId
                    },
                    dataType:"json",
                    success:function (result) {
                        if (result.resultCode === 0) {
                            question.isCollected = 0;
                            question.collectionCount --;
                            question.noAction = false;
                        }
                    },
                    error:function (request,status,error) {
                        alert("系统异常！");
                        console.log(request.status);
                        console.log(request.readyState);
                        console.log(status);
                        question.noAction = false;
                    }
                });
            },
            addAnswer:function () {
                location.href = "../answer/postAnswer.html?questionId=" + this.questionId;
            },
            back:function () {
                sessionStorage.removeItem("questionData");
                sessionStorage.removeItem("questionInfo");
                history.go(-1);
            },
            loadMore:function () {
                if (!this.hasMore || this.loadingMore) {
                    return;
                }
                this.loadingMore = true;
                $.ajax({
                    url:"../../question/moreAnswer.action",
                    type:"POST",
                    data:{
                        start:question.start,
                        questionId:question.questionId
                    },
                    dataType:"json",
                    success:function (result) {
                        if (result.resultCode === 0) {
                            let size = result.answers.length;
                            result.answers.forEach(function (item) {
                                question.answers.push(item);
                                question.questionData.questionAnswers.push(item);
                            });
                            question.hasMore = size >= 20;
                        } else {
                            result.answers.forEach(function (item) {
                                question.answers.push(item);
                                question.questionData.questionAnswers.push(item);
                            });
                            question.hasMore = false;
                        }
                        sessionStorage.setItem("questionData",JSON.stringify(question.questionData));
                        question.loadingMore = false;
                    },
                    error:function (request,status,error) {
                        alert("系统异常！");
                        console.log(request.status);
                        console.log(request.readyState);
                        console.log(status);
                        question.loadingMore = false;
                    }
                });
            },
            installData:function (data) {
                this.questionData = data;
                this.isAnonymous = data.isAnonymous;
                this.owner.id = data.owner.id;
                this.owner.username = data.owner.username;
                this.owner.head = data.owner.head;
                this.title = data.title;
                this.content = data.content;
                this.collectionCount = data.collectionCount;
                this.browsingCount = data.browsingCount;
                this.answerCount = data.answerCount;
                this.answers = data.questionAnswers;
                this.isSolved = data.isSolved;
                this.isCollected = data.isCollected;
            },
            saveInfo:function () {
                let questionInfo = {
                    viewerIsOwner:question.viewerIsOwner,
                    hasMore:question.hasMore,
                    start:question.start
                };
                sessionStorage.setItem("questionInfo",JSON.stringify(questionInfo));
            },
            loadLocalData:function () {
                let questionData = JSON.parse(sessionStorage.getItem("questionData"));
                this.installData(questionData);
                let questionInfo = JSON.parse(sessionStorage.getItem("questionInfo"));
                this.viewerIsOwner = questionInfo.viewerIsOwner;
                this.start = questionInfo.start;
                this.hasMore = questionInfo.hasMore;
                this.loading = 1;
            }
        },
        mounted:function () {
            let loc = location.href;
            loc = loc.replace("?","&").split("&")[1];
            let questionId;
            if (loc.indexOf("questionId=")!==-1) {
                questionId = loc.replace("questionId=","");
                this.questionId = questionId;
            } else {
                location.href = "../../error/mobile/404error.html"
            }
            if (sessionStorage.getItem("questionInfo") != null && sessionStorage.getItem("questionData") != null) {
                this.loadLocalData();
                this.loadingMore = false;
                return;
            }
            $.ajax({
                url:"../../question/viewQuestion.action",
                type:"POST",
                data:{
                    questionId:questionId
                },
                dataType:"json",
                success:function (result) {
                    if (result.resultCode === 0) {
                        question.installData(result.question);
                        question.viewerIsOwner = result.viewerIsOwner;
                        question.loading = 1;
                        question.loadingMore = false;
                        question.start += result.question.questionAnswers.length;
                        if (result.question.questionAnswers.length === 20) {
                            question.hasMore = true;
                        }
                        sessionStorage.setItem("questionData",JSON.stringify(question.questionData));
                        question.saveInfo();
                    } else if (result.resultCode === 1) {
                        alert("问题找不到！")
                    }
                },
                error:function (e) {
                    alert("系统错误");
                }
            });
        },
        computed:{
            headPortrait:function () {
                return this.headFirstPart + this.owner.head + this.headLastPart;
            }
        }
    });
</script>
</body>
</html>