body{
    height: 700px;
}
body a{
    text-decoration: none;
    color: #444444;
}
.navs{
    float: left;
    height: 100%;
    border-style: solid;
    border-color: #d6d6d6;
    border-width: medium;
    width: 8%;
}
.search{
    float: left;
    background-color: #e9e9e9;
    height: 10%;
    width: 90%;
    margin-left: 1%;
}
.content{
    float: left;
    background-color: white;
    height: 90%;
    width: 90%;
    margin-left: 1%;
}
.field{
    float: left;
    background-color: #e9e9e9;
    height: 10%;
    width: 90%;
    margin-left: 1%;
}
.sel1{
    width: 10%;
    margin-left: 1%;
    margin-top: 1%;
}
.sel2{
    width: 10%;
    margin-left: 10%;
    margin-top: 1%;
}
tr{
    border-style: solid;
    border-color: #d6d6d6;
    border-width: thin;
}
tr td{
    height: 12%;
}

.shadow_css {
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 10;
    /* 为mozilla firefox 设置透明度  */
    -moz-opacity: 0.6;
    /* 设置透明度 */
    opacity: .60;
    /* 为IE 设置透明度  */
    filter: alpha(opacity=66);
}

.window_css {
    display: none;
    position: absolute;
    top: 20%;
    left: 25%;
    width: 60%;
    height: 60%;
    border: 3px solid honeydew;
    background-color: aliceblue;
    z-index: 11;
}
.userInfo{
    margin-top: 2%;
}
.btn{
    margin-top: 3%;
    margin-left: 3%;
}
.page-bar{
    margin:40px;
}
ul,li{
    margin: 0px;
    padding: 0px;
}
li{
    list-style: none
}
.page-bar li:first-child>a {
    margin-left: 0px
}
.page-bar a{
    border: 1px solid #ddd;
    text-decoration: none;
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    cursor: pointer
}
.page-bar a:hover{
    background-color: #eee;
}
.page-bar a.banclick{
    cursor:not-allowed;
}
.page-bar .active a{
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}
.page-bar i{
    font-style:normal;
    color: #d44950;
    margin: 0px 4px;
    font-size: 12px;
}
