div{
    width: 100%;
}
table{
    width: 100%;
}
#header{
    background-color: white;
    padding: 0.5em 1em;
    box-shadow: 0 0.2em 0.3em #d6d6d6;
    position: fixed;
    top: 0;
    z-index: 9999;
}
#questionTitle{
    width: 100%;
    font-size: 1.3em;
    border: 0;
}
#container{
    width: 90%;
    margin: 0 auto;
}
#tips{
    background-color: #ededed;
    padding: 1em;
    border-radius: 0.5em;
    opacity: 0.5;
}
.item{
    color: #12eee7;
    padding-right: 0.5em;
}
#contentArea{
    width: 90%;
    margin: 0 auto;
}
.separator{
    opacity: 0.5;
    background-color: #acacac;
    height: 0.2em;
}
#choseClassification{
    width: 90%;
    margin: 0 auto;
}
.classificationName{
    width: 30%;
}
.classificationSelect{
    width: 70%;
}
.errorMessage{
    text-align: left;
    font-size: 0.8em;
    color: red;
}
#alert{
    width: 80%;
    font-size: 1em;
    margin: 0 auto;
    display: none;
}