div{
    width: 100%;
}
table{
    width: 100%;
}
#header{
    padding: 0.5em 0;
    box-shadow: 0 0.3em 0.2em #d6d6d6;
    position: fixed;
    top: 0;
    z-index: 9998;
    background-color: white;
}
#questionInf{
    width: 90%;
    margin: 0 auto;
    padding-top: 2em;
    padding-bottom: 0.5em;
}
.separator{
    height: 0.5em;
    background-color: #acacac;
    opacity: 0.1;
    margin-bottom: 0.5em;
}
#answerList{
    width: 90%;
    margin: 0 auto;
}
.answerView p , .answerView div{
    display: inline;
}
.answerView{
    overflow: hidden;;
    text-overflow: ellipsis;
    display:-webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.noBorder{
    background-color: white;
    border: 0;
}
#line{
    height: 0.1em;
    background-color: black;
    opacity: 0.1;
    margin: 1em auto;
}
.headPortrait{
    border-radius: 100%;
    overflow: hidden;
    color: #12eee7;
}
.lb{
    color: #12eee7;
    padding-left: 2%;
}
#footer{
    padding: 0.5em 1em;
    box-shadow: 0 -0.3em 0.2em #d6d6d6;
    position: fixed;
    bottom: 0;
    z-index: 9998;
    background-color: white;
    text-align: center;
}
#footer button{
    border: 0;
    background-color: white;
    color: rgba(18, 238, 231, 0.8);
}
#footer td{
    text-align: center;
}
.headPortrait{
    background-color: #12eee7;
    border-radius: 100%;
    width: 2em;
    height: 2em;
    overflow: hidden;
}
#operateMenu{
    padding: 0 5%;
    background-color: white;
    font-size: 1em;
}
.operateItem{
    text-align: center;
    color: #acacac;
}
.operateItem button{
    border: 0;
    background-color: white;
}

.noCollect{
    color: #acacac;
}