<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>搜索结果</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../css/global.css">
    <link rel="stylesheet" type="text/css" href="../../css/mobile/search/searchResult.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://lib.baomitu.com/font-awesome/5.11.2/css/all.min.css">
    <script type="text/javascript" src="https://lib.baomitu.com/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://lib.baomitu.com/vue/2.6.10/vue.min.js"></script>
    <link rel="stylesheet" href="https://lib.baomitu.com/mint-ui/2.2.13/style.min.css">
    <script type="text/javascript" src="https://lib.baomitu.com/mint-ui/2.2.13/index.js"></script>
</head>
<body>
<div id="searchResult">
    <div id="searchBar">
        <table>
            <td style="width: 10%">
                <i class="fas fa-arrow-left" style="color: #acacac" @click="back"></i>
            </td>
            <td style="width: 80%">
                <input type="text" aria-label="搜索" :placeholder="placeholder" class="noBorder" v-model="keyword">
            </td>
            <td style="width: 10%;text-align: right" v-if="hasKeyword">
                <i class="fas fa-times" style="color: #acacac" @click="cleanKeyword"></i>
            </td>
        </table>
    </div>
    <div style="text-align: center" v-if="hasKeyword">
        <button class="btn btn-link" @click="searchNew">查看【{{keyword}}】的搜索结果</button>
    </div>
    <br>
    <div id="operateBar">
        <table>
            <td class="opItem">
                <span :class="{selected:selectedIndex===1}" @click="selectedIndex=1">综合</span>
            </td>
            <td class="opItem">
                <span :class="{selected:selectedIndex===2}" @click="selectedIndex=2">问题</span>
            </td>
            <td class="opItem">
                <span :class="{selected:selectedIndex===3}" @click="selectedIndex=3">回答</span>
            </td>
            <td class="opItem">
                <span :class="{selected:selectedIndex===4}" @click="selectedIndex=4">用户</span>
            </td>
        </table>
    </div>
    <div class="splitBox"></div>
    <div id="comprehensionResult" v-if="selectedIndex===1">
        <div v-if="questionResultNum">
            问题
            <div class="splitLine"></div>
            <div class="resultItem" v-for="item in questionResultCom" @click="toQuestion(item.id)">
                <table style="margin-bottom: 0.2em">
                    <td style="width: 10%">
                        <div v-html="item.ownerHead" class="head"></div>
                    </td>
                    <td>
                        &nbsp;{{item.ownerName}}
                    </td>
                </table>
                <h5  @click="toQuestion(item.id)"><b>{{item.title}}</b></h5>
                <div class="info">
                    {{item.browsingNum}}浏览-{{item.answerNum}}回答-{{item.collectNum}}收藏
                </div>
            </div>
            <div style="text-align: right" v-if="questionResultNum>2">
                <span style="opacity: 0.5;font-size: 0.8em" @click="selectedIndex=2">查看更多></span>
            </div>
            <div class="splitBox"></div>
        </div>
        <div v-if="answerResultNum > 0">
            回答
            <div class="splitLine"></div>
            <div class="resultItem" v-for="item in answerResultCom" @click="toAnswer(item.questionId,item.id)">
                <h6><b>{{item.questionTitle}}</b></h6>
                <table>
                    <td style="width: 10%">
                        <div v-html="item.answererHead" class="head"></div>
                    </td>
                    <td>
                        &nbsp;{{item.answererName}}：
                    </td>
                </table>
                <div class="answerContent" @click="toAnswer(item.questionId,item.id)">
                    {{item.content}}
                </div>
                <div class="info">
                    {{item.commentNum}}评论-{{item.approveNum}}赞同
                </div>
            </div>
            <div style="text-align: right" v-if="answerResultNum>2">
                <span style="opacity: 0.5;font-size: 0.8em" @click="selectedIndex=3">查看更多></span>
            </div>
            <div class="splitBox"></div>
        </div>
        <div v-if="userResultNum > 0">
            用户
            <div class="splitLine"></div>
            <div class="resultItem" v-for="item in userResultCom">
                <table>
                    <td style="width: 18%">
                        <div class="head" v-html="item.userHead"></div>
                    </td>
                    <td style="width: 5%"></td>
                    <td>
                        <div class="username">{{item.userName}}</div>
                        <div class="userIntroduction">{{item.userIntroduction}}</div>
                    </td>
                </table>
            </div>
            <div style="text-align: right" v-if="userResultNum>2">
                <span style="opacity: 0.5;font-size: 0.8em" @click="selectedIndex=4">查看更多></span>
            </div>
        </div>
    </div>
    <div id="questionResult" v-if="selectedIndex===2">
        <div class="resultItem" v-for="item in questionResult" @click="toQuestion(item.id)">
            <table style="margin-bottom: 0.2em">
                <td style="width: 10%">
                    <div v-html="item.ownerHead"></div>
                </td>
                <td>
                    &nbsp;{{item.ownerName}}
                </td>
            </table>
            <h5 @click="toQuestion(item.id)"><b>{{item.title}}</b></h5>
            <div class="info">
                {{item.browsingNum}}浏览-{{item.answerNum}}回答-{{item.collectNum}}收藏
            </div>
        </div>
    </div>
    <div id="answerResult" v-if="selectedIndex===3">
        <div class="resultItem" v-for="item in answerResult" @click="toAnswer(item.questionId,item.id)">
            <h6 @click="toQuestion(item.questionId)"><b>{{item.questionTitle}}</b></h6>
            <table>
                <td style="width: 10%">
                    <div v-html="item.answererHead"></div>
                </td>
                <td>
                    &nbsp;{{item.answererName}}：
                </td>
            </table>
            <div class="answerContent" @click="toAnswer(item.questionId,item.id)">
                {{item.content}}
            </div>
            <div class="info">
                {{item.commentNum}}评论-{{item.approveNum}}赞同
            </div>
        </div>
    </div>
    <div id="userResult" v-if="selectedIndex===4">
        <div class="resultItem" v-for="item in userResult">
            <table>
                <td style="width: 18%">
                    <div class="head" v-html="item.userHead"></div>
                </td>
                <td style="width: 5%"></td>
                <td>
                    <div class="username">{{item.userName}}</div>
                    <div class="userIntroduction">{{item.userIntroduction}}</div>
                </td>
            </table>
        </div>
    </div>
</div>
<script>
    let searchResult = new Vue({
        el:"#searchResult",
        data:{
            keyword:"",
            placeholder:"",
            selectedIndex:0,
            questionResult:[],
            questionResultCom:[],
            questionResultNum:0,
            answerResult:[],
            answerResultCom:[],
            answerResultNum:2,
            userResult:[],
            userResultCom:[],
            userResultNum:0,
        },
        methods:{
            cleanKeyword:function () {
                this.keyword = "";
            },
            back:function () {
                location.href = "../home.html";
            },
            search:function (keyword) {
                $.ajax({
                    type:"POST",
                    url:"../../search/searchResult.action",
                    data:{
                        keyword:keyword
                    },
                    dataType:"json",
                    success:function (result) {
                        if (result.resultCode === 0) {
                            let questionSize;
                            let answerSize;
                            let userSize;
                            searchResult.questionResult = result.questionResult;
                            questionSize = result.questionResult.length;
                            searchResult.questionResultNum = questionSize;
                            if (questionSize > 2) {
                                searchResult.questionResultCom.push(searchResult.questionResult[0]);
                                searchResult.questionResultCom.push(searchResult.questionResult[1]);
                            } else {
                                searchResult.questionResultCom = searchResult.questionResult;
                            }
                            searchResult.answerResult = result.answerResult;
                            answerSize = result.answerResult.length;
                            searchResult.answerResultNum = answerSize;
                            if (answerSize > 2) {
                                searchResult.answerResultCom.push(searchResult.answerResult[0]);
                                searchResult.answerResultCom.push(searchResult.answerResult[1]);
                            } else {
                                searchResult.answerResultCom = searchResult.answerResult;
                            }
                            searchResult.userResult = result.userResult ;
                            userSize = result.userResult.length;
                            searchResult.userResultNum = userSize;
                            if (userSize > 2) {
                                searchResult.userResultCom.push(searchResult.userResult[0]);
                                searchResult.userResultCom.push(searchResult.userResult[1]);
                            } else {
                                searchResult.userResultCom = searchResult.userResult;
                            }
                            searchResult.placeholder = keyword;
                            searchResult.selectedIndex = 1;
                        }
                    },
                    error:function (request,status,error) {
                        alert("系统异常！");
                        console.log(request.status);
                        console.log(request.readyState);
                        console.log(status);
                    }
                });
            },
            toQuestion:function (qid) {
                location.href = "../question/question.html?questionId=" + qid;
            },
            toAnswer:function (qid,aid) {
                location.href = "../answer/answer.html?questionId=" + qid + "&answerId=" + aid;
            },
            searchNew:function () {
                let kw = this.keyword;
                let searchHistory;
                let searchHistoryStr = localStorage.getItem("searchHistory");
                if (searchHistoryStr == null) {
                    searchHistory = [];
                } else {
                    searchHistory = JSON.parse(searchHistoryStr);
                }
                let i = 0;
                for (let his of searchHistory) {
                    if (his.content === kw) {
                        searchHistory.splice(i,1);
                        break;
                    }
                    i++;
                }
                if (searchHistory.length >= 10) {
                    searchHistory.shift();
                }
                let kwObj = {
                    content:kw
                };
                searchHistory.unshift(kwObj);
                localStorage.setItem("searchHistory",JSON.stringify(searchHistory));
                location.href = "../search/searchResult.html?keyword=" + kw;
            }
        },
        mounted:function () {
            if (sessionStorage.getItem("notice") != null) {
                this.$toast(sessionStorage.getItem("notice"));
                sessionStorage.removeItem("notice");
            }
            let keyword = "";
            let loc = location.href;
            loc = loc.replace("?","&").split("&")[1];
            if (loc !== undefined && loc.indexOf("keyword=")!==-1) {
                keyword = decodeURI(loc.replace("keyword=",""));
                this.search(keyword);
            } else {
                alert("未知错误！");
                location.href = "../home.html";
            }
        },
        computed: {
            hasKeyword: function () {
                return this.keyword.length > 0;
            },
        }
    });
</script>
</body>
</html>